@using AwesomeCare.Admin.ViewModels.CuidiBuddy;
@model CreateCuidiBuddy

@{
    ViewData["Title"] = "Create CuidiBuddy";
}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card planned_task">
                <div class="card-body">

                    <form asp-action="Index" method="post">
                        <input type="hidden" asp-for="ClientId" />
                        <div class="row">
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label>Gender</label>
                                <select class="form-control" asp-for="Gender">
                                    <option>Select</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>

                            </div>

                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label>Age</label>
                                <input type="number" asp-for="AgeFrom" class="form-control" step="1" /> and <input type="number"  asp-for="AgeTo" class="form-control" step="1" />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label>Location</label>
                                <baserecord asp-key="Teritory" asp-for="Location" asp-items="null" />

                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a asp-action="Index" asp-controller="CuidiBuddy" asp-route-clientId="Model.ClientId" class="btn btn-primary pull-right">Cancel</a>
                    </form>

                </div>
            </div>
        </div>
    </div>

     <div class="row">
         <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        @if (Model.getClients.Count > 0)
        {
            foreach (var client in Model.getClients)
            {
                <div class="row mb-4">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="profile-view mb-5">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    <a href="">
                                        <img src="@client.PassportFilePath" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <h3 class="col-sm-2 user-name m-t-0">@string.Concat(client.Firstname, " ", client.Middlename, " ", client.Surname)</h3>
                                            <ul class="col-sm-8 personal-info">
                                                <li>
                                                    <span class="title">Birthday:</span>
                                                    <span class="text">@client.DateOfBirth</span>
                                                </li>
                                                <li>
                                                    <span class="title">Post Code:</span>
                                                    <span class="text">@client.PostCode</span>
                                                </li>
                                            </ul>
                                            <div class="col-sm-2 small text-muted"> <a href="#" class="btn btn-primary" id="@string.Concat("btnAdd",client.ClientId)" onclick="addfriend(this)">Add</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>
    <script type="text/javascript">
        function addfriend(element)
        {
            $(element).attr("disabled", "disabled");
            var cuidiId = element.id.split('btnAdd')[1];
            var clientId = @Model.ClientId;
            console.log(cuidiId+"-"+clientId)
            if(cuidiId > 0)
            {
                $.ajax({
                    type: 'GET',
                    url: '/CuidiBuddy/Add',
                    data: { 'clientId': clientId, 'cuidiId' : cuidiId },
                    success: function (response) {
                        $(element).removeAttr("disabled");
                        $(element).html(response);
                    },
                    error: function () {
                        alert('Failed to receive the Data');
                        console.log('Failed ');
                    }
                });
            }

        }
        
    </script>