
@using AwesomeCare.Admin.ViewModels.ShiftBooking;

@model CreateShiftBookingBlockedDays

@{
    ViewData["Title"] = "Shift Booking - Block Days";
}

@section VendorStyleSheets{

}

<form method="post" asp-action="BlockDays">


    <p>
        Month: @Model.SelectedMonth

        <input asp-for="SelectedMonth" type="hidden" />
        <input asp-for="ShiftBookingId" type="hidden" />
        <input asp-for="DaysInMonth" type="hidden" />
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (string day in Model.WeekDays)
                {
                    <th>@day</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                var totalDays = 7;
                var remainder = Model.DaysInMonth % 7;
                var totalRows = remainder > 0 ? (Model.DaysInMonth / totalDays) + 1 : Model.DaysInMonth / totalDays;
                var start = 1;
                bool isLastDay = false;
                bool isEnded = false;
                for (int r = 1; r <= 6; r++)
                {
                    <tr>

                        @for (int d = start; d <= Model.DaysInMonth; d++)
                        {
                            @foreach (string wday in Model.WeekDays)
                            {
                                <td>

                                    @if (d.IsSameDay(wday, Model.SelectedMonth))
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="align-right">
                                                    <span>
                                                        @d.ToString("D2")
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 align-right">
                                                @{
                                                    <label class="fancy-checkbox">
                                                        <input type="checkbox" name="@d.ToString("D2")" id="@d.ToString("D2")"  data-parsley-errors-container="#error-checkbox">
                                                        <span></span>
                                                    </label>

                                                    string dayName = $"{d.ToString("D2")}_day";
                                                    <input type="hidden" name="@dayName" id="@dayName" value="@wday">
                                                }

                                            </div>
                                        </div>


                                        if (wday.Equals("Saturday", StringComparison.InvariantCultureIgnoreCase))
                                        {
                                            isLastDay = true;
                                        }
                                        else
                                        {
                                            if (d == Model.DaysInMonth)
                                            {
                                                isEnded = true;
                                                break;
                                            }
                                            else
                                            {
                                                ++d;
                                            }

                                        }
                                    }
                                </td>
                            }
                            if (isEnded)
                            {
                                break;
                            }
                            else
                            {
                                if (isLastDay)
                                {
                                    start = d + 1;
                                    break;
                                }
                            }

                        }
                    </tr>

                    if (isEnded)
                    {
                        break;
                    }
                }
            }
        </tbody>
    </table>
    <a asp-controller="ShiftBooking" asp-action="Index" class="btn btn-outline-primary float-left">Cancel</a>
    <input type="submit" value="Submit" class="btn btn-success float-right" />
    <br />
    <br />
</form>