@using AwesomeCare.Admin.ViewModels.ShiftBooking;
@model ViewShiftViewModel
@{
    ViewData["Title"] = "Shift Booking Schedule";
}
<!-- /Content -->
<!-- Search Filter -->
<form asp-action="ShiftSchedule" method="post">
<div class="row filter-row">
					
	<div class="col-sm-6 col-md-4"> 
		<div class="form-group form-focus select-focus focused">
			<select name="rota" asp-items="@Model.Rotas" class="selectpicker form-control" data-live-search="true"></select>
		</div>
    </div>
    <div class="col-sm-6 col-md-2">  
		<div class="form-group form-focus focused">
			<div class="cal-icon">
				<input class="form-control" type="text" name="startDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy"> 
			</div>
			<label class="focus-label">From</label>
		</div>
    </div>
    <div class="col-sm-6 col-md-2">  
		<div class="form-group form-focus focused">
			<div class="cal-icon">
				<input class="form-control" type="text" name="endDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy">
			</div>
			<label class="focus-label">To</label>
		</div>
	</div>
	<div class="col-sm-6 col-md-2">  
		<input type="submit" class="btn btn-success w-100" value="Search" />  
	</div>
    <div class="col-sm-6 col-md-2">  
		<a class="btn add-btn" asp-action="EditStaff" asp-controller="ShiftBooking" asp-route-shiftId="@Model.ShiftBookingId"><i class="fa fa-pencil"></i> Edit Staff</a>
	</div>
</div>
</form>
<!-- Search Filter -->

<div class="row">
	<div class="col-md-12">
        
		<div class="table-responsive">
			<table class="table table-striped table-dark custom-table datatable">
				<thead>
					<tr>
						<th>Scheduled Shift</th>
                        @for(int i = 0; i < Model.DaysInMonth; i++)
                        {
                            <th>@Model.FirstDay.AddDays(i).ToString("ddd-dd")</th>
                        }
                    </tr>
				</thead>
				<tbody>
                    @foreach(var staff in Model.Staffs.Select(s=>s.StaffPersonalInfoId).Distinct())
                    {
                        var StaffName = Model.StaffList.FirstOrDefault(s => s.StaffPersonalInfoId == staff).Fullname;
                        <tr>
						<td>
							<h2 class="table-avatar">
								<a asp-action="Details" asp-controller="Staff" asp-route-staffId="@staff" class="avatar"><img alt="img" src="@Model.StaffList.FirstOrDefault(s=>s.StaffPersonalInfoId==staff).ProfilePix" width="50" height="50"></a>
								<a asp-action="Details" asp-controller="Staff" asp-route-staffId="@staff">@StaffName</a>
							</h2>
						</td>
                        @for(int i = 1; i <= Model.DaysInMonth; i++)
                        {
							if (Model.BookedDays.Where(s=>s.ShiftBookedById==staff).Any(s => s.Date.ToString("dd") == i.ToString("D2") && s.Date.ToString("MM") == Model.FirstDay.ToString("MM") && s.Date.ToString("yyyy") == Model.FirstDay.ToString("yyyy")))
							{
								<td>
									<div class="user-add-shedule-list">
										<h2>
											<a href="#" data-bs-toggle="modal" data-bs-target="#edit_schedule" style="border:2px dashed #1eb53a">
                                                <span id="@Model.BookedDays.Where(s=>s.ShiftBookedById==staff).FirstOrDefault(s=>s.Date.ToString("dd") == i.ToString("D2") && s.Date.ToString("MM") == Model.FirstDay.ToString("MM") && s.Date.ToString("yyyy") == Model.FirstDay.ToString("yyyy")).StaffShiftBookingDayId" onclick="Removeid(this)" style="background-color:transparent; border:none; color:red;">
												X
											    </span>
                                                <span class="userrole-info">@Model.StartTime @Model.StopTime</span>
												<span class="userrole-info">@Model.Remark</span>
											</a>
										</h2>
									</div>
								</td>
							}
							else
							{
								<td>
									<div class="user-add-shedule-list">
										<div class="user-add-shedule-list">
											<a href="#" id="@string.Concat(Model.FirstDay.ToString("MM"),"/",i.ToString("D2"),"/",Model.FirstDay.ToString("yyyy"),"-",Model.Staffs.Where(s=>s.StaffPersonalInfoId==staff).FirstOrDefault().StaffShiftBookingId)" onclick="Setid(this)">
											<span>
												<i class="fa fa-plus"></i>
											</span>
											</a>
										</div>
									</div>
								</td>
							}
                        }
					</tr>
                    }
				</tbody>
			</table>
		</div>
	</div>
</div>
@if (Model.ShiftBookingId > 0)
{ 
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>Create Shift Booking</h2>
                
            </div>
            <div class="card-body">

                <form asp-action="Edit" method="post">
                    <div class="row">
                        <input type="hidden" asp-for="ShiftBookingId" />
                        <input type="hidden" asp-for="FirstDay" />
                        <input type="hidden" asp-for="LastDay" />
                        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="ShiftDate"></label>
                            <input type="text" asp-for="ShiftDate" class="form-control datepickerfromtoday" data-date-format="mm/yyyy">
                            <span asp-validation-for="ShiftDate" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="Rota"></label>
                            <select asp-for="RotaId" asp-items="@Model.Rotas" class="form-control chosen-select" data-placeholder="Choose a Rota...">
                            </select>
                        </div>

                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label>Number Of Staff Required</label>
                            <input type="number" class="form-control" asp-for="NumberOfStaffRequired">
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="StartTime"></label>
                            <input type="text" class="form-control" asp-for="StartTime" data-provide="timepicker" data-minute-step="5">
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="StopTime"></label>
                            <input type="text" class="form-control" asp-for="StopTime" data-provide="timepicker" data-minute-step="5">
                            <span asp-validation-for="StopTime" class="text-danger"></span>
                        </div>

                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="Team"></label>
                            <select asp-for="TeamId" asp-items="@Model.Team" class="form-control chosen-select" data-placeholder="Choose a Team...">
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="DriverRequired"></label>
                            <select asp-for="RequiresDriver" asp-items="@Model.YesNo" class="form-control">
                            </select>
                        </div>
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="PublishTo"></label>
                            <select asp-for="PublishTo" asp-items="@Model.Team" class="form-control">
                            </select>
                        </div>

                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="Remark"></label>
                            <textarea type="text" class="form-control" asp-for="Remark"></textarea>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>



            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript" src="~/assets2/js/jquery-3.6.0.min.js"></script>
<script>
	function Setid(e) 
    {
		var shiftId = e.id.split("-")[1];
        var date = e.id.split("-")[0];
        console.log(date);
		$.ajax({
            type: 'GET',
            url: '/ShiftBooking/PostDays',
            data: {'date':date, 'shiftId':shiftId},
            success: function (result) {
                location.reload();
                console.log(date);
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
    function Removeid(e) 
    {
		var dayId = e.id;
        console.log(dayId);
		$.ajax({
            type: 'GET',
            url: '/ShiftBooking/RemoveDay',
            data: {'dayId':dayId},
            success: function (result) {
                location.reload();
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        });
    }
</script>


<!-- /Content End -->