@using AwesomeCare.Admin.ViewModels.ShiftBooking;
@model ViewShiftViewModel
@{
    ViewData["Title"] = "Shift Booking View-Shift";
}

@section VendorStyleSheets{

    <link href="~/assets/vendor/summernote/dist/summernote.css" rel="stylesheet" />
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>View Shift</h2>
                @*<ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>*@
            </div>
            <div class="card-body">
                <form>
                    <div id="printablediv">
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label>Month</label>
                            <select asp-for="SelectedMonth" asp-items="@Model.Months" class="form-control">
                            </select>
                        </div>
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <label asp-for="Rota"></label>
                            <select asp-for="Rota" asp-items="@Model.Rotas" class="form-control">
                            </select>
                            <span asp-validation-for="Rota" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group  col-sm-4 col-xs-12 col-md-4 col-lg-4">
                            <input type="submit" class="btn btn-primary float-right" value="Search" formaction="/ShiftBooking/View-Shift" formmethod="post" formnovalidate />
                        </div>

                        <table class="table table-bordered" id="divShift">
                            <thead>
                                <tr>
                                    @foreach (string day in Model.WeekDays)
                                    {
                                        <th>@day</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var totalDays = 7;
                                    var remainder = Model.DaysInMonth % 7;
                                    var totalRows = remainder > 0 ? (Model.DaysInMonth / totalDays) + 1 : Model.DaysInMonth / totalDays;
                                    var start = 1;
                                    bool isLastDay = false;
                                    bool isEnded = false;
                                    for (int r = 1; r <= 6; r++)
                                    {
                                        <tr>

                                            @for (int d = start; d <= Model.DaysInMonth; d++)
                                            {
                                                @foreach (string wday in Model.WeekDays)
                                                {
                                                    <td>

                                                        @if (d.IsSameDay(wday, Model.SelectedMonth))
                                                        {
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p class="align-right">
                                                                        <span>
                                                                            @d.ToString("D2")
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12 displayblock align-center">
                                                                    @foreach (var staff in Model.Staffs)
                                                                    {
                                                                        if (staff.BookedDays.Any(c => c.Day.Equals(d.ToString("D2"))))
                                                                        {
                                                                            <label class="fancy-checkbox">

                                                                                @{
                                                                                    var driver = @staff.IsStaffDriver ? " (D)" : "";

                                                                                    var staffandDriver = staff.StaffName + driver;

                                                                                    var dayId = staff.BookedDays.FirstOrDefault(b => b.Day == d.ToString("D2"))?.StaffShiftBookingDayId;
                                                                                    string dayName = "day_" + dayId;
                                                                                }
                                                                                <input type="checkbox" name="@dayName" id="@dayName">
                                                                                <span> @staffandDriver</span>
                                                                            </label>
                                                                            <P>

                                                                            </P>
                                                                        }
                                                                    }
                                                                    @*<P>
                                                                STAFF NAME (D)
                                                            </P>
                                                            <P>
                                                                STAFF NAME
                                                            </P>*@

                                                                </div>
                                                            </div>


                                                            if (wday.Equals("Saturday", StringComparison.InvariantCultureIgnoreCase))
                                                            {
                                                                isLastDay = true;
                                                            }
                                                            else
                                                            {
                                                                if (d == Model.DaysInMonth)
                                                                {
                                                                    isEnded = true;
                                                                    break;
                                                                }
                                                                else
                                                                {
                                                                    ++d;
                                                                }

                                                            }
                                                        }
                                                    </td>
                                                }
                                                if (isEnded)
                                                {
                                                    break;
                                                }
                                                else
                                                {
                                                    if (isLastDay)
                                                    {
                                                        start = d + 1;
                                                        break;
                                                    }
                                                }


                                                @*var kk = start.ToString("D2");
                                        if (start <= Model.DaysInMonth)
                                        {
                                            if (start.IsSameDay(wday, "March"))
                                            {
                                                @kk;
                                                break;
                                            }
                                        }*@
                                            }






                                        </tr>

                                        if (isEnded)
                                        {
                                            break;
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                    <input type="submit" class="btn btn-primary float-right" value="Delete Selected" formaction="/ShiftBooking/DeleteStaffShift" formmethod="post" formnovalidate />


                </form>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" onclick="javascript:printerDiv('printablediv')">Print</a>
                        <a class="dropdown-item" asp-controller="ShiftBooking" asp-action="DownloadShift" target="_blank">Download</a>
                        <a class="dropdown-item" asp-controller="ShiftBooking" asp-action="EmailShift" target="_blank">Email</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#emailShiftModal">Email</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" asp-action="EmailShift">
    <div class="modal fade" id="emailShiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Email Shift</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Email Addresses <strong><small>separate each with a comma</small></strong></label>
                        <input type="text" class="form-control" id="txtEmailAddresses" name="txtEmailAddresses" />
                    </div>
                    <div class="form-group">
                        <label> Message </label>
                        <textarea class="form-control summernote" rows="5"
                                  id="txtMessage" name="txtMessage"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Send" />
                </div>
            </div>
        </div>
    </div>
</form>

@section VendorScripts{

    <script src="~/assets/vendor/summernote/dist/summernote.js"></script>
}

@section scripts{

    <script type="text/javascript">

        function printerDiv(divID) {
            //Get the HTML of div

            var divElements = document.getElementById(divID).innerHTML;

            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the pages HTML with divs HTML only

            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
        }

        $(document).ready(function () {
            //$('#divShift').DataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        'print'
            //    ]
            //});
        });

        function PrintShift() {
            var panel = document.getElementById("divShift");
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Shifts</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(panel.innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            setTimeout(function () {
                printWindow.print();
            }, 500);
            return false;
        }
    </script>

}
