@using  AwesomeCare.DataTransferObject.DTOs.Client;
@model GetClient
@{
    ViewData["Title"] = "HomeCare Details";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2>HomeCare Client Details</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a asp-action="EditRegistration" asp-route-clientId="@Model.ClientId" asp-controller="Client">Edit Client</a></li>


                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <ul class="nav nav-tabs-new2">
                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#personalInfo">Personal Info</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#involvingparties">Involving Parties</a></li>
                    @*<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#caredetails">Care Details</a></li>*@
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#regulatorycontact">Regulatory Contact</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#complaintregister">Complaint Register</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#logaudit">Log Audit</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#medaudit">Med Audit</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#voice">Voice</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#complaintregister">Complaint Register</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#complaintregister">Complaint Register</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#complaintregister">Complaint Register</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="personalInfo">
                        <div class="row">
                            <div class="col-xs-7 col-sm-7 col-md-7">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Firstname" class="control-label"></label>
                                            <input type="text" class="form-control" asp-for="Firstname" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Middlename" class="control-label"></label>
                                            <input type="text" class="form-control" asp-for="Middlename" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Surname" class="control-label"></label>
                                            <input type="text" class="form-control" asp-for="Surname" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Gender" class="control-label"></label>
                                            <baserecord asp-key="Gender" asp-for="GenderId" asp-items="null" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="DateOfBirth" class="control-label"></label>
                                            <input asp-for="DateOfBirth" class="form-control" readonly>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="IdNumber" class="control-label"></label>
                                            <input type="text" class="form-control" asp-for="IdNumber" readonly>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input type="email" class="form-control" asp-for="Email" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="StartDate" class="control-label"></label>
                                            <input type="text" asp-for="StartDate" class="form-control" readonly>

                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="EndDate" class="control-label"></label>
                                            <input type="text" asp-for="EndDate" class="form-control" readonly>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="NumberOfCalls" class="control-label"></label>
                                            <input type="number" class="form-control" asp-for="NumberOfCalls" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="AreaCodeId" class="control-label"></label>
                                            <baserecord asp-key="AreaCode" asp-for="AreaCodeId" asp-items="null" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="TeritoryId" class="control-label"></label>
                                            <baserecord asp-key="Teritory" asp-for="TeritoryId" asp-items="null" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h2>QR Code<small></small></h2>
                                    </div>
                                    <div class="body">
                                        <img alt="clientimage" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QRCode))">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="card">
                                    <div class="header">
                                        <h2>Image<small></small></h2>
                                    </div>
                                    <div class="body">
                                        <img alt="clientimage" src="@Model.PassportFilePath" height="150" width="150">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="ServiceId" class="control-label"></label>
                                    <baserecord asp-key="Service" asp-for="ServiceId" asp-items="null" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="ProvisionVenue" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="ProvisionVenue" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="PostCode" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="PostCode" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Rate" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="Rate" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="TeamLeader" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="TeamLeader" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Telephone" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="Telephone" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="LanguageId" class="control-label"></label>
                                    <baserecord asp-key="Language" asp-for="LanguageId" asp-items="null" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="KeySafe" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="KeySafe" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="ChoiceOfStaffId" class="control-label"></label>
                                    <baserecord asp-key="Client_ChoiceOfStaff" asp-for="ChoiceOfStaffId" asp-items="null" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="CapacityId" class="control-label"></label>
                                    <baserecord asp-key="Client_Capacity" asp-for="CapacityId" asp-items="null" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="ProviderReference" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="ProviderReference" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="NumberOfStaff" class="control-label"></label>
                                    <input type="number" class="form-control" asp-for="NumberOfStaff" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Keyworker" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="Keyworker" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Latitude" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="Latitude" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Longitude" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="Longitude" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea class="form-control" asp-for="Address" readonly></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="About" class="control-label"></label>
                                    <textarea class="form-control" asp-for="About" readonly></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Hobbies" class="control-label"></label>
                                    <textarea class="form-control" asp-for="Hobbies" readonly></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="involvingparties">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th>NAME</th>
                                    <th>ADDRESS</th>
                                    <th>EMAIL</th>
                                    <th>TELEPHONE</th>
                                    <th>RELATIONSHIP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InvolvingParties)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.Telephone
                                        </td>
                                        <td>
                                            @item.Relationship
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="regulatorycontact">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Regulatory Contact</th>
                                    <th>Date Performed</th>
                                    <th>Date Due</th>
                                    <th>Evidence</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RegulatoryContact)
                                {
                                    <tr>
                                        <td>
                                            @item.RegulatoryContact
                                        </td>
                                        <td>
                                            @if (item.DatePerformed.HasValue)
                                            {
                                                var datePerformed = item.DatePerformed.Value.ToString("MMM. dd, yyyy");
                                                @datePerformed;
                                            }

                                        </td>
                                        <td>
                                            @if (item.DueDate.HasValue)
                                            {
                                                var dueDate = item.DueDate.Value.ToString("MMM. dd, yyyy");
                                                @dueDate;
                                            }

                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.Evidence))
                                            {
                                                <a asp-action="DownloadFile" asp-route-file="@item.Evidence">Download</a>
                                            }

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="complaintregister">
                        <div class="header">
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a asp-action="CreateComplainRegister" asp-route-clientId="@Model.ClientId" asp-controller="Complain">Create Complain</a></li>


                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Complain Contact</th>
                                    <th>Evidence</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GetClientComplain)
                                {
                                    <tr>
                                        <td>
                                            @item.COMPLAINANTCONTACT
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.EvidenceFilePath))
                                            {
                                                <a asp-action="DownloadFile" asp-route-file="@item.EvidenceFilePath">Download</a>
                                            }

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="logaudit">
                        <div class="header">
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a asp-action="Index" asp-route-clientId="@Model.ClientId" asp-controller="ClientLogAudit">Create Log Audit</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Action Recommended</th>
                                    <th>Evidence of Action Taken</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GetClientLogAudit)
                                {
                                    <tr>
                                        <td>
                                            @item.ActionRecommended
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.EvidenceOfActionTaken))
                                            {
                                                <a asp-action="DownloadFile" asp-route-file="@item.EvidenceOfActionTaken">Download</a>
                                            }

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="medaudit">
                        <div class="header">
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a asp-action="Index" asp-route-clientId="@Model.ClientId" asp-controller="ClientMedAudit">Create Med Audit</a></li>


                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Action Recommended</th>
                                    <th>Evidence of Action Taken</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GetClientMedAudit)
                                {
                                    <tr>
                                        <td>
                                            @item.ActionRecommended
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.EvidenceOfActionTaken))
                                            {
                                                <a asp-action="DownloadFile" asp-route-file="@item.EvidenceOfActionTaken">Download</a>
                                            }

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="voice">
                        <div class="header">
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a asp-action="Index" asp-route-clientId="@Model.ClientId" asp-controller="ClientVoice">Create Voice</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Action Required</th>
                                    <th>Attachment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GetClientVoice)
                                {
                                    <tr>
                                        <td>
                                            @item.ActionRequired
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.EvidenceOfActionTaken))
                                            {
                                                <a asp-action="DownloadFile" asp-route-file="@item.Attachment">Download</a>
                                            }

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="../../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script>
    
    var url_string = window.location.href;
    var url = new URL(url_string);
    var ActiveTab = url.searchParams.get("ActiveTab");
    if (ActiveTab != null)
    {
        $(document).ready(function () {
            $('a[href="#' + ActiveTab + '"]').tab('show');

        });
    }
</script>
