@using AwesomeCare.DataTransferObject.DTOs.ClientMedication
@model IEnumberalbe<GetClientMedication>

@{
    ViewData["Title"] = "Client Medication Details";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2>Medication Details</h2>
               
            </div>
            <div class="body">
            <table class="table table-bordered">
            <thead>
            <tr>
            <td>Medication</td>
            <td>Manufacturer</td>
            <td>Expiry Date<td>
            <td>Frequency</td>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model){
                <tr>
                <td>@item.Medication</td>
                <td>@item.MedicationManufacturer</td>
                <td>@item.ExpiryDate</td>
                <td>@item.Dossage</td>
                <td>@item.Frequency</td>
                </tr>
            }
            </tbody>
            </table>

            </div>
        </div>
    </div>
</div>
