@using AwesomeCare.DataTransferObject.DTOs.ClientMedication
@model IEnumerable<GetClientMedication>

@{
    ViewData["Title"] = "Client Medication Details";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>Medication Details</h2>
                <div class="dropdown profile-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right" style="">
                        <a asp-action="CreateMedication" asp-route-clientId="@ViewBag.ClientId">Create Medication</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
            <table class="table table-bordered table-responsive datatables">
            <thead>

            <tr>
            <td>Medication</td>
            <td>Manufacturer</td>
            <td>Expiry Date</td>
            <td>Dossage</td>
            <td>Frequency</td>
            <td>Days</td>
            <td>Gap Hour</td>
            <td>Start Date</td>
            <td>Stop Date</td>
            <td>Status</td>
            <td>Remark</td>
            <td>Action</td>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model){
                <tr>
                <td>@item.Medication</td>
                <td>@item.MedicationManufacturer</td>
                <td>@item.ExpiryDate</td>
                <td>@item.Dossage</td>
                <td>@item.Frequency</td>
                <td>
                    <table class="table"><tr>
                    @foreach(var day in item.ClientMedicationDay)
                    {
                        <td>
                        @day.DayOfWeek
                        <ul style="list-style-type:none;">
                            @foreach(var p in day.ClientMedicationPeriod)
                            {
                                <li style="margin-left:-35px;">@p.RotaType</li>
                                <li style="margin-left:-35px;">@p.StartTime</li>
                                <li style="margin-left:-35px;">@p.StopTime</li>
                            }
                        </ul>
                        </td>
                    }
                    </tr>
                    </table>
                </td>
                <td>@item.Gap_Hour</td>
                <td>@item.StartDate</td>
                <td>@item.StopDate</td>
                <td>@item.Status</td>
                <td>@item.Remark</td>
                <td>
                    <div class="dropdown">
                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                            <div class="dropdown-menu dropdown-menu-right" style="">
                                @Html.ActionLink("Edit", "EditMedication", "Client", new { clientId = item.ClientId, id=item.ClientMedicationId }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Add Staff & Rota", "StaffMedTracker", "Medication", new { clientmedId = item.ClientMedicationId }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                </td>
                </tr>
            }
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

