@using AwesomeCare.Admin.ViewModels.TaskBoard;
@model List<CreateTaskBoard>
@{
    ViewData["Title"] = "Reports";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">
                <h2>All Task Board</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a asp-action="Index">Create</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table m-b-0 datatables">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Assigned By</th>
                            <th>Completion Date</th>
                            <th>Status</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Select((d, i) => new { index = i + 1, data = d }))
                        {
                            <tr>
                                <td>@item.index </td>
                                <td>@item.data.StaffName</td>
                                <td>@item.data.CompletionDate</td>
                                <td>@item.data.StatusName</td>

                                <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            @Html.ActionLink("Edit", "Edit", "TaskBoard", new { taskId = item.data.TaskId }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("View", "View", "TaskBoard", new { taskId = item.data.TaskId }, new { @class = "dropdown-item" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
