@model AwesomeCare.DataTransferObject.DTOs.ClientLogAudit.GetClientLogAudit

@{
    ViewData["Title"] = "View";
}

<div>
    <h4>Client Log Audit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogAuditId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogAuditId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NextDueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextDueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCareExpected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCareExpected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCareDifference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCareDifference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProperDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProperDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImproperDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImproperDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Communication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Communication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThinkingServiceUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThinkingServiceUsers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThinkingStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThinkingStaff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThinkingStaffStop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThinkingStaffStop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfAuditor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfAuditor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionRecommended)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionRecommended)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionTaken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActionTaken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvidenceOfActionTaken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvidenceOfActionTaken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepeatOfIncident)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepeatOfIncident)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RotCause)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RotCause)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LessonLearntAndShared)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LessonLearntAndShared)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvidenceFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvidenceFilePath)
        </dd>
    </dl>
</div>