@using AwesomeCare.Admin.ViewModels.Staff;
@using System.IO; 
@model StaffDetails;

@{
    ViewData["Title"] = "Staff Profile";
}
<form asp-action="Details" asp-controller="Staff" method="post">
    <input type="hidden" asp-for="StaffPersonalInfoId" />
    <div class="card mb-0">
    <div class="card-header">
        <h2>Staff Details</h2>
        <div class="dropdown profile-action">
            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
            <div class="dropdown-menu dropdown-menu-right" style="">
                <a asp-action="EditProfile" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="Staff">Edit Staff</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="">
                                <img src="@Model.ProfilePix" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0">@string.Concat(Model.FirstName, " ", Model.MiddleName, " ", Model.LastName)</h3>
                                    <h5 class="company-role m-t-0 mb-0"></h5>
                                    <small class="text-muted"></small>
                                    <div class="staff-id">Employee ID : @Model.IdNumber</div>
                                    <div class="staff-msg"><a asp-route-staffId="@Model.StaffPersonalInfoId" asp-action="StaffChat" asp-controller="Chat" class="btn btn-custom">Send Message</a></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Phone:</span>
                                        <span class="text"><a href="">@Model.Telephone</a></span>
                                    </li>
                                    <li>
                                        <span class="title">Email:</span>
                                        <span class="text"><a href="">@Model.Email</a></span>
                                    </li>
                                    <li>
                                        <span class="title">Birthday:</span>
                                        <span class="text">@Model.DateOfBirth</span>
                                    </li>
                                    <li>
                                        <span class="title">Address:</span>
                                        <span class="text">@Model.Address</span>
                                    </li>
                                    <li>
                                        <span class="title">Gender:</span>
                                            @if (Model.Gender.Equals("1")) 
                                            { 
                                                <span class="text">Male</span>
                                            } 
                                            else
                                            {
                                                <span class="text">Female</span>
                                            } 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card tab-box">
    <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active show" data-bs-toggle="tab" href="#personalinfo">Personal Info</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#education" id="@Model.StaffPersonalInfoId" onclick="geteducation(this)">Education</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="gettrainingmatrix(this)" href="#trainingmatrix">Training Matrix</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="gettrainings(this)" href="#trainings">Training</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getreferee(this)" href="#referee">Referee</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getemergencyContact(this)" href="#emergencyContact">Emergency Contact</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getspotcheck(this)" href="#spotcheck">Spot Check</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getadlobs(this)" href="#adlobs">Adl Observation</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getmedcomp(this)" href="#medcomp">Med Comp Observation</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getkeyworker(this)" href="#keyworker">Key Worker Voice</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getsurvey(this)" href="#survey">Survey</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getonetoone(this)" href="#onetoone">One To One</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getsupervision(this)" href="#supervision">Supervision</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getreference(this)" href="#reference">Reference</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getpersonalitytest(this)" href="#personalitytest">Personality Test</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getinfection(this)" href="#infection">Infection Control</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getcompetence(this)" href="#competence">Competence Test</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="gethealth(this)" href="#health">Health</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getinterview(this)" href="#interview">Interview</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getshadowing(this)" href="#shadowing">Shadowing</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getstaffholiday(this)" href="#holiday" id="@Model.StaffPersonalInfoId" onclick="GetDetails(this)">Holidays</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getsalaryallowance(this)" href="#salaryallowance">Salary Allowance</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getsalarydeduction(this)" href="#salarydeduction">Salary Deduction</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" id="@Model.StaffPersonalInfoId" onclick="getlateness(this)" href="#lateness">Lateness</a></li>
                @if (Model.IsTeamLeader.Equals("Yes"))
                {
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#staffteamlead">Staff Team Lead</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/assets2/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src=~/js/getDetails.js>
</script>
<div class="row">
    <div class="col-lg-12">
        <div class="tab-content profile-tab-content">
            <div class="tab-pane fade show active" id="personalinfo">
                <h6>Personal Info.</h6>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="FirstName" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="MiddleName" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="MiddleName" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="LastName" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <baserecord asp-key="Gender" asp-for="Gender" asp-items="null" />

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="control-label"></label>
                                    <input asp-for="DateOfBirth" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input type="email" class="form-control" asp-for="Email" readonly>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="IdNumber" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="IdNumber" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="PostCode" class="control-label"></label>
                                    <input type="text" asp-for="PostCode" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Telephone" class="control-label"></label>
                                    <input type="text" asp-for="Telephone" class="form-control" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="CanDrive" class="control-label"></label>

                                    <br />
                                    <label class="fancy-radio custom-color-green"><span><i></i>@Model.CanDrive</span></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    @if (Model.CanDrive.Equals("Yes", StringComparison.InvariantCultureIgnoreCase))
                                    {
                                        <label asp-for="DrivingLicense" class="control-label"></label>
                                        <br />
                                        <a asp-action="DownloadFile"  target="_blank" asp-route-file="@Model.DrivingLicense">Download</a>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="DrivingLicenseExpiryDate" class="control-label"></label>
                                    <input asp-for="DrivingLicenseExpiryDate" type="text" class="form-control" readonly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="DBSUpdateNo" class="control-label"></label>
                                    <input type="text" asp-for="DBSUpdateNo" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="JobCategory" class="control-label"></label>
                                    <baserecord asp-key="Staff_JobCategory" asp-for="JobCategory" asp-items="null" readonly />
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Office Location</label>
                                    <select asp-for="StaffOfficeLocation" asp-items="@Model.OfficeLocation" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="StaffOfficeLocation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="RightToWork" class="control-label"></label>
                                    <br />
                                    <label class="fancy-radio custom-color-green"><span><i></i>@Model.RightToWork</span></label>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    @if (Model.RightToWork.Equals("Yes", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrEmpty(Model.RightToWorkAttachment))
                                    {
                                        <label asp-for="RightToWorkAttachment" class="control-label"></label>
                                        <br />
                                        <a asp-action="DownloadFile" target="_blank" asp-route-file="@Model.RightToWorkAttachment">Download</a>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="RightToWorkExpiryDate" class="control-label"></label>
                                    <input type="text" asp-for="RightToWorkExpiryDate" class="form-control" readonly>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="DBS" class="control-label"></label>
                                    <br />
                                    <label class="fancy-radio custom-color-green"><span><i></i>@Model.DBS</span></label>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    @if (Model.DBS.Equals("Yes", StringComparison.InvariantCultureIgnoreCase)  && !string.IsNullOrEmpty(Model.DBSAttachment))
                                    {
                                        <label asp-for="DBSAttachment" class="control-label"></label>
                                        <br />
                                        <a asp-action="DownloadFile" asp-route-file="@Model.DBSAttachment">Download</a>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="DBSExpiryDate" class="control-label"></label>
                                    <input type="text" asp-for="DBSExpiryDate" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="NI" class="control-label"></label>
                                    <br />
                                    <label class="fancy-radio custom-color-green"><span><i></i>@Model.NI</span></label>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    @if (Model.NI.Equals("Yes", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrEmpty(Model.NIAttachment))
                                    {
                                        <label asp-for="NIAttachment" class="control-label"></label>
                                        <br />
                                        <a asp-action="DownloadFile" asp-route-file="@Model.NIAttachment">Download</a>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="NIExpiryDate" class="control-label"></label>
                                    <input type="text" asp-for="NIExpiryDate" class="form-control" readonly>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="Self_PYE" class="control-label"></label>
                                    <br />
                                    <label class="fancy-radio custom-color-green"><span><i></i>@Model.Self_PYE</span></label>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    @if (Model.Self_PYE.Equals("Yes", StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrEmpty(Model.Self_PYEAttachment))
                                    {
                                        <label asp-for="Self_PYEAttachment" class="control-label"></label>
                                        <br />
                                        <a asp-action="DownloadFile" asp-route-file="@Model.Self_PYEAttachment">Download</a>
                                    }
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="WorkTeam" class="control-label"></label>
                                    <input type="text" asp-for="WorkTeam" class="form-control" readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label asp-for="PlaceOfBirth" class="control-label"></label>
                            <input type="text" asp-for="PlaceOfBirth" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="CV" class="control-label"></label>
                                    <br />
                                    <a asp-action="DownloadFile" asp-route-file="@Model.CV">Download</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="CoverLetter" class="control-label"></label>
                                    <br />
                                    <a asp-action="DownloadFile" asp-route-file="@Model.CoverLetter">Download</a>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label asp-for="RegistrationId" class="control-label"></label>
                                    <input type="text" asp-for="RegistrationId" class="form-control" readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea class="form-control" asp-for="Address" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label asp-for="AboutMe" class="control-label"></label>
                            <textarea class="form-control" asp-for="AboutMe" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label asp-for="Hobbies" class="control-label"></label>
                            <textarea class="form-control" asp-for="Hobbies" readonly></textarea>
                        </div>
                    </div>

                </div>
            </div>

                                    <div class="tab-pane fade" id="education">
                                        <div class="card">
                                            <div class="card-body">

                                            
                                        <h6>Education</h6>
                                        <div class="table-responsive table-bordered">

                                            <table class="table tblEducation">
                                                <thead>
                                                    <tr>
                                                        <th>Name of Institution</th>
                                                        <th>Certification</th>
                                                        <th>Location</th>
                                                        <th>Address</th>
                                                        <th>StartDate</th>
                                                        <th>EndDate</th>
                                                        <th>Attachment</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="tbl_education">
                                                </tbody>
                                            </table>

                                        </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="trainings">
                                        <div class="card">
                                            <div class="card-body">

                                        
                                        <h6>Trainings</h6>
                                        <div class="table-responsive table-bordered">

                                            <table class="table tblTraining">
                                                <thead>
                                                    <tr>
                                                        <th>Training Name</th>
                                                        <th>Certificate</th>
                                                        <th>Location</th>
                                                        <th>Trainer</th>
                                                        <th>StartDate</th>
                                                        <th>ExpiredDate</th>
                                                        <th>Attachment</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="tbl_trainings">
                                                    

                                                </tbody>
                                            </table>

                                        </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="trainingmatrix">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffTrainingMatrix">Create</a>
                                                    </div>
                                                </div>
                                                <div class="table-responsive table-bordered">

                                                    <table class="table tblTraining">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody id="tbl_trainingmatrix">
                                                    

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="referee">
                                        <div class="card">
                                            <div class="card-body">

                                        
                                        <h6>Referees</h6>
                                        <div class="table-responsive table-bordered">

                                            <table class="table tblReferences">
                                                <thead>
                                                    <tr>
                                                        <th>Name of Referee</th>
                                                        <th>Company Name</th>
                                                        <th>Address</th>
                                                        <th>PhoneNumber</th>
                                                        <th>Email</th>
                                                        <th>Position of Referee</th>
                                                        <th>Attachment</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="tbl_referee">
                                                    

                                                </tbody>
                                            </table>

                                        </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="emergencyContact">
                                        <div class="card">
                                            <div class="card-body">

                                        
                                                <h6>Emergency Contact</h6>
                                                <div class="table-responsive table-bordered">

                                                    <table class="table tblContacts">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Telephone</th>
                                                                <th>Email</th>
                                                                <th>Relationship</th>
                                                                <th>Address</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody id="tbl_emergencyContact">
                                                    

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="spotcheck">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffSpotCheck">Create</a>
                                                    </div>
                                                </div>
                                                 <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>AreaComments</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_spotcheck">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                       
                                    </div>

                                    <div class="tab-pane fade" id="adlobs">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffAdlObs">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_adlobs">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="medcomp">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffMedComp">Create</a>
                                                    </div>
                                                </div>
                                                 <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_medcomp">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                       
                                    </div>

                                    <div class="tab-pane fade" id="keyworker">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffKeyWorkerVoice">Create</a>
                                                    </div>
                                                </div>
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_keyworker">
                                                    

                                                </tbody>
                                        </table>
                                                                                    </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="survey">
                                        <div class=card>
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffSurvey">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_survey">
                                                    

                                                </tbody>
                                                </table>
                                            </div>
                                        </div>                                         
                                    </div>

                                    <div class="tab-pane fade" id="onetoone">
                                        <div class=card>
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffOneToOne">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbl_onetoone">
                                                    

                                                        </tbody>
                                                </table>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="tab-pane fade" id="supervision">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffSupervisionAppraisal">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Next Date</th>
                                                    <th>Deadline</th>
                                                    <th>Reference</th>
                                                    <th>Details</th>
                                                    <th>Action Required</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_supervision">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="reference">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffReference">Create</a>
                                                    </div>
                                                </div>
                                                 <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Employeement Date</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>Address</th>
                                                    <th>Rehire Staff</th>
                                                    <th>Attachment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_reference">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="tab-pane fade" id="personalitytest">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffPersonalityTest">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Question</th>
                                                    <th>Answer</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_personalitytest">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="infection">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffInfectionControl">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Test Date</th>
                                                    <th>Guideline</th>
                                                    <th>Remarks</th>
                                                    <th>Status</th>
                                                    <th>Vacc Status</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_infection">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="competence">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="ListHeading" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffCompetenceTest">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Answer</th>
                                                            <th>Comment</th>
                                                            <th>Point</th>
                                                            <th>Score</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_competence">
                                                    

                                                </tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                    </div>

                                    <div class="tab-pane fade" id="health">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="ListHeading" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffHealth">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Answer</th>
                                                    <th>Comment</th>
                                                    <th>Point</th>
                                                    <th>Score</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_health">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="tab-pane fade" id="interview">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="ListHeading" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffInterview">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Answer</th>
                                                    <th>Comment</th>
                                                    <th>Point</th>
                                                    <th>Score</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_interview">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="tab-pane fade" id="shadowing">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffShadowing">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Answer</th>
                                                    <th>Comment</th>
                                                    <th>Point</th>
                                                    <th>Score</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_shadowing">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="tab-pane fade" id="holiday">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffHoliday">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Staff Name</th>
                                                            <th>Class Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Allocated Days</th>
                                                            <th>Balance</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_holiday">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="tab-pane fade" id="staffteamlead">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="StaffTeamLead">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Start Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_staffteamlead">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="tab-pane fade" id="salaryallowance">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="SalaryAllowance">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>%</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_salaryallowance">
                                                    

                                                </tbody>
                                        </table>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="tab-pane fade" id="salarydeduction">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-route-staffId="@Model.StaffPersonalInfoId" asp-controller="SalaryDeduction">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>%</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_salarydeduction">
                                                    

                                                </tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="tab-pane fade" id="lateness">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="dropdown profile-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" style="">
                                                        <a asp-action="Index" asp-controller="StaffLateness">Create</a>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>SN</th>
                                                            <th>Date</th>
                                                            <th>Time Critical</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_lateness">
                                                    

                                                </tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                    </div>
        </div>
    </div>
    <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Official Purpose</h2>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="Rate" class="control-label"></label>
                                <input type="number" step="any" class="form-control" asp-for="Rate">
                                <span asp-validation-for="Rate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="IsTeamLeader" class="control-label"></label>
                                <br />
                                <label class="fancy-radio custom-color-green"><input name="isteamleader" asp-for="IsTeamLeader" value="No" type="radio" checked><span><i></i>No</span></label>
                                <label class="fancy-radio custom-color-green"><input name="isteamleader" asp-for="IsTeamLeader" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                <span asp-validation-for="IsTeamLeader" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="HasUniform" class="control-label"></label>
                                <br />
                                <label class="fancy-radio custom-color-green"><input name="hasuniform" asp-for="HasUniform" value="No" type="radio" checked><span><i></i>No</span></label>
                                <label class="fancy-radio custom-color-green"><input name="hasuniform" asp-for="HasUniform" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                <span asp-validation-for="HasUniform" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <baserecord asp-for="Status" asp-items="Model.Statuses"></baserecord>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="HasIdCard" class="control-label"></label>
                                <br />
                                <label class="fancy-radio custom-color-green"><input name="hasidcard" asp-for="HasIdCard" value="No" type="radio" checked><span><i></i>No</span></label>
                                <label class="fancy-radio custom-color-green"><input name="hasidcard" asp-for="HasIdCard" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                <span asp-validation-for="HasIdCard" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="EmploymentDate" class="control-label"></label>
                                <input data-provide="datepicker" type="text" asp-for="EmploymentDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
                                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="Comment" class="control-label"></label>
                                <textarea class="form-control" asp-for="Comment"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </div>
</div>
</form>