@using AwesomeCare.Admin.ViewModels.Staff;
@model UpdateStaffPersonalInfo;

@{
    ViewData["Title"] = "Edit Staff Profile";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>Edit Profile</h2>

            </div>
            <div class="card-body">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <form id="basic-form" enctype="multipart/form-data" asp-controller="Staff" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="card-body">
                                <ul class="nav nav-tabs-new2">
                                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#personalinfo">Personal Info</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#education">Education</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#trainings">Training</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#referee">Referee</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#emergencyContact">Emergency Contact</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="personalinfo">
                                        <h6>Personal Info.</h6>


                                        <input type="hidden" asp-for="StaffPersonalInfoId" />
                                        <input type="hidden" asp-for="ApplicationUserId" />
                                        <input type="hidden" asp-for="StartDate" />
                                        <input type="hidden" asp-for="EndDate.Value" />
                                        <input type="hidden" asp-for="Keyworker" />
                                        <input type="hidden" asp-for="Status" />
                                        <input type="hidden" asp-for="RegistrationId" />
                                        <input type="hidden" asp-for="StaffWorkTeamId.Value" />
                                      

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="FirstName" class="control-label"></label>
                                                            <input type="text" class="form-control" asp-for="FirstName">
                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="MiddleName" class="control-label"></label>
                                                            <input type="text" class="form-control" asp-for="MiddleName">
                                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="LastName" class="control-label"></label>
                                                            <input type="text" class="form-control" asp-for="LastName">
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Gender" class="control-label"></label>
                                                            <baserecord asp-key="Gender" asp-for="Gender" asp-items="null" />
                                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DateOfBirth" class="control-label"></label>
                                                            <input data-provide="datepicker" asp-for="DateOfBirth" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
                                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Email" class="control-label"></label>
                                                            <input type="email" class="form-control" asp-for="Email" readonly>
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="IdNumber" class="control-label"></label>
                                                            <input type="text" class="form-control" asp-for="IdNumber">
                                                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="PostCode" class="control-label"></label>
                                                            <input type="text" asp-for="PostCode" class="form-control">
                                                            <span asp-validation-for="PostCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Telephone" class="control-label"></label>
                                                            <input type="text" asp-for="Telephone" class="form-control">
                                                            <span asp-validation-for="Telephone" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="CanDrive" class="control-label"></label>

                                                            <br />
                                                            <label class="fancy-radio custom-color-green"><input name="candrive" asp-for="CanDrive" value="No" type="radio" checked><span><i></i>No</span></label>
                                                            <label class="fancy-radio custom-color-green"><input name="candrive" asp-for="CanDrive" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                                            <span asp-validation-for="CanDrive" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DrivingLicense" class="control-label"></label>

                                                            <input type="file" asp-for="DrivingLicenseFile" class="form-control">
                                                            <input type="hidden" asp-for="DrivingLicense" class="form-control">

                                                            <span asp-validation-for="DrivingLicenseFile" class="text-danger"></span>
                                                            <span asp-validation-for="DrivingLicense" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DrivingLicenseExpiryDate" class="control-label"></label>
                                                            <input data-provide="datepicker" asp-for="DrivingLicenseExpiryDate" data-date-autoclose="true" type="text" class="form-control" data-date-format="mm/dd/yyyy">
                                                            <span asp-validation-for="DrivingLicenseExpiryDate" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h2>Profile Pix<small></small></h2>
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="file" asp-for="ProfilePixFile" class="dropify" data-allowed-file-extensions="png jpg jpeg">
                                                        <input type="hidden" asp-for="ProfilePix">
                                                        <span asp-validation-for="ProfilePix" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="RightToWork" class="control-label"></label>
                                                            <br />
                                                            <label class="fancy-radio custom-color-green"><input name="RightToWork" asp-for="RightToWork" value="No" type="radio" checked><span><i></i>No</span></label>
                                                            <label class="fancy-radio custom-color-green"><input name="RightToWork" asp-for="RightToWork" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                                            <span asp-validation-for="RightToWork" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="RightToWorkFile" class="control-label"></label>

                                                            <input type="file" asp-for="RightToWorkFile" class="form-control">

                                                            <span asp-validation-for="RightToWorkFile" class="text-danger"></span>
                                                            <span asp-validation-for="RightToWorkFile" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="RightToWorkExpiryDate" class="control-label"></label>
                                                            <input data-provide="datepicker" type="text" asp-for="RightToWorkExpiryDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
                                                            <span asp-validation-for="RightToWorkExpiryDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3">

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DBS" class="control-label"></label>
                                                            <br />
                                                            <label class="fancy-radio custom-color-green"><input name="dbs" asp-for="DBS" value="No" type="radio" checked><span><i></i>No</span></label>
                                                            <label class="fancy-radio custom-color-green"><input name="dbs" asp-for="DBS" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                                            <span asp-validation-for="DBS" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DBSAttachment" class="control-label"></label>

                                                            <input type="file" asp-for="DbsFile" class="form-control">
                                                            <input type="hidden" asp-for="DBSAttachment" class="form-control">

                                                            <span asp-validation-for="DbsFile" class="text-danger"></span>
                                                            <span asp-validation-for="DBSAttachment" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="DBSExpiryDate" class="control-label"></label>
                                                            <input data-provide="datepicker" type="text" asp-for="DBSExpiryDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
                                                            <span asp-validation-for="DBSExpiryDate" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DBSUpdateNo" class="control-label"></label>
                                                    <input type="text" asp-for="DBSUpdateNo" class="form-control">
                                                    <span asp-validation-for="DBSUpdateNo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="NI" class="control-label"></label>
                                                            <br />
                                                            <label class="fancy-radio custom-color-green"><input name="ni" asp-for="NI" value="No" type="radio" checked><span><i></i>No</span></label>
                                                            <label class="fancy-radio custom-color-green"><input name="ni" asp-for="NI" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                                            <span asp-validation-for="NI" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="NIAttachment" class="control-label"></label>

                                                            <input type="file" asp-for="NiFile" class="form-control">
                                                            <input type="hidden" asp-for="NIAttachment" class="form-control">

                                                            <span asp-validation-for="NiFile" class="text-danger"></span>
                                                            <span asp-validation-for="NIAttachment" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="NIExpiryDate" class="control-label"></label>
                                                            <input data-provide="datepicker" type="text" asp-for="NIExpiryDate" data-date-autoclose="true" class="form-control" data-date-format="mm/dd/yyyy">
                                                            <span asp-validation-for="NIExpiryDate" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PlaceOfBirth" class="control-label"></label>
                                                    <input type="text" asp-for="PlaceOfBirth" data-date-autoclose="true" class="form-control">
                                                    <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="SelfPYE" class="control-label"></label>
                                                            <br />
                                                            <label class="fancy-radio custom-color-green"><input name="selfpye" asp-for="SelfPYE" value="No" type="radio" checked><span><i></i>No</span></label>
                                                            <label class="fancy-radio custom-color-green"><input name="selfpye" asp-for="SelfPYE" value="Yes" type="radio"><span><i></i>Yes</span></label>

                                                            <span asp-validation-for="SelfPYE" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="SelfPYEAttachment" class="control-label"></label>

                                                            <input type="file" asp-for="SelfPyeFile" class="form-control">
                                                            <input type="hidden" asp-for="SelfPYEAttachment" class="form-control">

                                                            <span asp-validation-for="SelfPyeFile" class="text-danger"></span>
                                                            <span asp-validation-for="SelfPYEAttachment" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="WorkTeam" class="control-label"></label>
                                                            @*<input type="text" asp-for="WorkTeam" class="form-control">*@
                                                            <select asp-items="Model.WorkTeams" asp-for="WorkTeam" class="form-control"></select>
                                                              <span asp-validation-for="WorkTeam" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="JobCategory" class="control-label"></label>
                                                    <baserecord asp-key="Staff_JobCategory" asp-for="JobCategory" asp-items="null" />
                                                    <span asp-validation-for="JobCategory" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="CV" class="control-label"></label>

                                                            <input type="file" asp-for="CvFile" class="form-control">
                                                            <input type="hidden" asp-for="CV" class="form-control">

                                                            <span asp-validation-for="CvFile" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="CoverLetter" class="control-label"></label>

                                                            <input type="file" asp-for="CoverLetterFile" class="form-control">
                                                            <input type="hidden" asp-for="CoverLetter" class="form-control">

                                                            <span asp-validation-for="CoverLetterFile" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Passcode" class="control-label"></label>
                                                            <input type="text" max="4" asp-for="Passcode" class="form-control">
                                                            <span asp-validation-for="Passcode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4">

                                                <div class="form-group">
                                                    <label asp-for="EmploymentDate" class="control-label"></label>
                                                    <input type="text" asp-for="EmploymentDate.Value" class="form-control" readonly>
                                                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="Rate" class="control-label"></label>
                                                            <input type="text" asp-for="Rate.Value" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="TeamLeader" class="control-label"></label>

                                                            <input type="text" asp-for="TeamLeader" class="form-control" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            <label asp-for="HasUniform" class="control-label"></label>
                                                            <p>
                                                                @{
                                                                    string hasuniform = "No";
                                                                    if (Model.HasUniform.HasValue)
                                                                    {
                                                                        hasuniform = Model.HasUniform.Value ? "Yes" : "No";
                                                                    }


                                                                    @hasuniform
                                                                }
                                                            </p>
                                                            <input type="hidden" asp-for="HasUniform.Value" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2">

                                                <div class="form-group">
                                                    <label asp-for="IsTeamLeader" class="control-label"></label>
                                                    <p>
                                                        @{
                                                            string isteamleader = "No";
                                                            if (Model.IsTeamLeader.HasValue)
                                                            {
                                                                isteamleader = Model.IsTeamLeader.Value ? "Yes" : "No";
                                                            }
                                                            @isteamleader
                                                        }
                                                    </p>
                                                    <input type="hidden" asp-for="IsTeamLeader.Value" class="form-control">
                                                </div>

                                            </div>
                                            <div class="col-xs-2 col-sm-2 col-md-2">

                                                <div class="form-group">
                                                    <label asp-for="HasIdCard" class="control-label"></label>
                                                    <p>
                                                        @{
                                                            string hasId = "No";
                                                            if (Model.HasIdCard.HasValue)
                                                            {
                                                                hasId = Model.HasIdCard.Value ? "Yes" : "No";
                                                            }
                                                            @hasId
                                                        }
                                                    </p>
                                                    <input type="hidden" asp-for="HasIdCard.Value" class="form-control">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class="control-label"></label>
                                                    <textarea class="form-control" asp-for="Address"></textarea>
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AboutMe" class="control-label"></label>
                                                    <textarea class="form-control" asp-for="AboutMe"></textarea>
                                                    <span asp-validation-for="AboutMe" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Hobbies" class="control-label"></label>
                                                    <textarea class="form-control" asp-for="Hobbies"></textarea>
                                                    <span asp-validation-for="Hobbies" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                    </div>


                                    <div class="tab-pane" id="education">
                                        <h6>Education</h6>
                                        <div class="table-responsive table-bordered">
                                            <table class="table tblEducation">
                                                <thead>
                                                    <tr>
                                                        <th>Name of Institution</th>
                                                        <th>Certification</th>
                                                        <th>Location</th>
                                                        <th>Address</th>
                                                        <th>StartDate</th>
                                                        <th>EndDate</th>
                                                        <th>Files</th>
                                                        <th>Change Attachment</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (int i = 0; i < Model.Education.Count; i++)
                                                    {

                                                        <tr>
                                                            <td>
                                                                <input type="hidden" class="form-control" asp-for="@Model.Education[i].StaffPersonalInfoId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.Education[i].StaffEducationId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.Education[i].CertificateAttachment" />

                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].Institution" />
                                                                <span asp-validation-for="@Model.Education[i].Institution" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].Certificate" />
                                                                <span asp-validation-for="@Model.Education[i].Certificate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].Location" />
                                                                <span asp-validation-for="@Model.Education[i].Location" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].Address" />
                                                                <span asp-validation-for="@Model.Education[i].Address" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].StartDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                                                <span asp-validation-for="@Model.Education[i].StartDate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Education[i].EndDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                                                <span asp-validation-for="@Model.Education[i].EndDate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.Education[i].CertificateAttachment))
                                                                    {
                                                                        <a asp-action="DownloadFile" asp-route-file="@Model.Education[i].CertificateAttachment"> Download</a>
                                                                    }
                                                                }

                                                            </td>
                                                            <td>
                                                                <input type="file" class="form-control" asp-for="@Model.Education[i].UploadCertificate" />
                                                                <span asp-validation-for="@Model.Education[i].UploadCertificate" class="text-danger"></span>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                            <a class="col-sm-offset-1 col-sm-1 text-success addEducation" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a>
                                            <br />

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="trainings">
                                        <h6>Trainings</h6>
                                        <div class="table-responsive table-bordered">

                                            <table class="table tblTraining">
                                                <thead>
                                                    <tr>
                                                        <th>Training Name</th>
                                                        <th>Certificate</th>
                                                        <th>Location</th>
                                                        <th>Trainer</th>
                                                        <th>StartDate</th>
                                                        <th>ExpiredDate</th>
                                                        <th>File</th>
                                                        <th>Change File</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (int i = 0; i < Model.Trainings.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="hidden" class="form-control" asp-for="@Model.Trainings[i].StaffPersonalInfoId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.Trainings[i].StaffTrainingId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.Trainings[i].CertificateAttachment" />


                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].Training" />
                                                                <span asp-validation-for="@Model.Trainings[i].Training" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].Certificate" />
                                                                <span asp-validation-for="@Model.Trainings[i].Certificate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].Location" />
                                                                <span asp-validation-for="@Model.Trainings[i].Location" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].Trainer" />
                                                                <span asp-validation-for="@Model.Trainings[i].Trainer" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].StartDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                                                <span asp-validation-for="@Model.Trainings[i].StartDate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.Trainings[i].ExpiredDate" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                                                <span asp-validation-for="@Model.Trainings[i].ExpiredDate" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.Trainings[i].CertificateAttachment))
                                                                    {
                                                                        <a asp-action="DownloadFile" asp-route-file="@Model.Trainings[i].CertificateAttachment"> Download</a>
                                                                    }
                                                                }

                                                            </td>
                                                            <td>
                                                                <input type="file" class="form-control" asp-for="@Model.Trainings[i].UploadAttachment" />
                                                                <span asp-validation-for="@Model.Trainings[i].UploadAttachment" class="text-danger"></span>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                            <a class="col-sm-offset-1 col-sm-1 text-success addTraining" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a>
                                            <br />
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="referee">
                                        <h6>Referees</h6>
                                        <div class="table-responsive table-bordered">
                                            <table class="table tblReferences">
                                                <thead>
                                                    <tr>
                                                        <th>Name of Referee</th>
                                                        <th>Company Name</th>
                                                        <th>Address</th>
                                                        <th>PhoneNumber</th>
                                                        <th>Email</th>
                                                        <th>Position of Referee</th>
                                                        <th>File</th>
                                                        <th>Change Attachment</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (int i = 0; i < Model.References.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>

                                                                <input type="hidden" class="form-control" asp-for="@Model.References[i].StaffPersonalInfoId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.References[i].StaffRefereeId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.References[i].Attachment" />


                                                                <input type="text" class="form-control" asp-for="@Model.References[i].Referee" />
                                                                <span asp-validation-for="@Model.References[i].Referee" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.References[i].CompanyName" />
                                                                <span asp-validation-for="@Model.References[i].CompanyName" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.References[i].Address" />
                                                                <span asp-validation-for="@Model.References[i].Address" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.References[i].PhoneNumber" />
                                                                <span asp-validation-for="@Model.References[i].PhoneNumber" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.References[i].Email" />
                                                                <span asp-validation-for="@Model.References[i].Email" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.References[i].PositionofReferee" />
                                                                <span asp-validation-for="@Model.References[i].PositionofReferee" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.References[i].Attachment))
                                                                    {
                                                                        <a asp-action="DownloadFile" asp-route-file="@Model.References[i].Attachment"> Download</a>
                                                                    }
                                                                }

                                                            </td>
                                                            <td>
                                                                <input type="file" class="form-control" asp-for="@Model.References[i].UploadAttachment" />
                                                                <span asp-validation-for="@Model.References[i].UploadAttachment" class="text-danger"></span>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                            <a class="col-sm-offset-1 col-sm-1 text-success addReferences" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a>

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="emergencyContact">
                                        <h6>Emergency Contact</h6>
                                        <div class="table-responsive table-bordered">
                                            <table class="table tblEmergencyContact">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Telephone</th>
                                                        <th>Email</th>
                                                        <th>Relationship</th>
                                                        <th>Address</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (int i = 0; i < Model.EmergencyContacts.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="hidden" class="form-control" asp-for="@Model.EmergencyContacts[i].StaffPersonalInfoId" />
                                                                <input type="hidden" class="form-control" asp-for="@Model.EmergencyContacts[i].StaffEmergencyContactId" />

                                                                <input type="text" class="form-control" asp-for="@Model.EmergencyContacts[i].ContactName" />
                                                                <span asp-validation-for="@Model.EmergencyContacts[i].ContactName" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.EmergencyContacts[i].Telephone" />
                                                                <span asp-validation-for="@Model.EmergencyContacts[i].Telephone" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.EmergencyContacts[i].Email" />
                                                                <span asp-validation-for="@Model.EmergencyContacts[i].Email" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.EmergencyContacts[i].Relationship" />
                                                                <span asp-validation-for="@Model.EmergencyContacts[i].Relationship" class="text-danger"></span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" asp-for="@Model.EmergencyContacts[i].Address" />
                                                                <span asp-validation-for="@Model.EmergencyContacts[i].Address" class="text-danger"></span>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                            <a class="col-sm-offset-1 col-sm-1 text-success addEmergencyContact" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                            <a asp-action="Index" class="btn btn-default pull-left">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="../assets2/js/pages/forms/form-wizard.js"></script>
    <script src="../assets2/js/pages/forms/dropify.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.addEducation').click(function () {
                var eduTable = $('table.tblEducation tbody');
                var rowKount = eduTable.find('tr').length;
                var institution = '<input name="Education[' + rowKount + '].Institution" class="form-control" type="text"/>';
                var certificate = '<input name="Education[' + rowKount + '].Certificate" class="form-control" type="text"/>';
                var location = '<input name="Education[' + rowKount + '].Location" class="form-control" type="text"/>';
                var address = '<input name="Education[' + rowKount + '].Address" class="form-control" type="text"/>';
                var startDate = '<input name="Education[' + rowKount + '].StartDate" class="form-control" type="text" data-provide="datepicker"  data-date-autoclose="true"  data-date-format="mm/dd/yyyy"/>';
                var endDate = '<input name="Education[' + rowKount + '].EndDate" class="form-control" type="text" data-provide="datepicker"  data-date-autoclose="true"  data-date-format="mm/dd/yyyy"/>';
                var attachment = '<input name="Education[' + rowKount + '].CertificateAttachment" class="form-control" type="file"/>';

                eduTable.append(' <tr><td>' + institution + '</td><td>' + certificate + '</td><td>' + location + '</td><td>' + address + '</td><td>' + startDate + '</td><td>' + endDate + '</td><td></td><td>' + attachment + '</td></tr>')


            })

            $('.addTraining').click(function () {
                var eduTable = $('table.tblTraining tbody');
                var rowKount = eduTable.find('tr').length;
                var training = '<input name="Trainings[' + rowKount + '].Training" class="form-control" type="text"/>';
                var certificate = '<input name="Trainings[' + rowKount + '].Certificate" class="form-control" type="text"/>';
                var location = '<input name="Trainings[' + rowKount + '].Location" class="form-control" type="text"/>';
                var trainer = '<input name="Trainings[' + rowKount + '].Trainer" class="form-control" type="text"/>';
                var startDate = '<input name="Trainings[' + rowKount + '].StartDate" class="form-control" type="text" data-provide="datepicker"  data-date-autoclose="true"  data-date-format="mm/dd/yyyy"/>';
                var expiredDate = '<input name="Trainings[' + rowKount + '].ExpiredDate" class="form-control" type="text" data-provide="datepicker"  data-date-autoclose="true"  data-date-format="mm/dd/yyyy"/>';
                var attachment = '<input name="Trainings[' + rowKount + '].CertificateAttachment" class="form-control" type="file"/>';

                eduTable.append(' <tr><td>' + training + '</td><td>' + certificate + '</td><td>' + location + '</td><td>' + trainer + '</td><td>' + startDate + '</td><td>' + expiredDate + '</td><td></td><td>' + attachment + '</td></tr>')


            })

            $('.addReferences').click(function () {
                var eduTable = $('table.tblReferences tbody');
                var rowKount = eduTable.find('tr').length;
                var referee = '<input name="References[' + rowKount + '].Referee" class="form-control" type="text"/>';
                var companyName = '<input name="References[' + rowKount + '].CompanyName" class="form-control" type="text"/>';
                var address = '<input name="References[' + rowKount + '].Address" class="form-control" type="text"/>';
                var phoneNumber = '<input name="References[' + rowKount + '].PhoneNumber" class="form-control" type="text"/>';
                var email = '<input name="References[' + rowKount + '].Email" class="form-control" type="text"/>';
                var positionofReferee = '<input name="References[' + rowKount + '].PositionofReferee" class="form-control" type="text"/>';
                var attachment = '<input name="References[' + rowKount + '].Attachment" class="form-control" type="file"/>';

                eduTable.append(' <tr><td>' + referee + '</td><td>' + companyName + '</td><td>' + address + '</td><td>' + phoneNumber + '</td><td>' + email + '</td><td>' + positionofReferee + '</td><td></td><td>' + attachment + '</td></tr>')


            })

            $('.addEmergencyContact').click(function () {
                var eduTable = $('table.tblEmergencyContact tbody');
                var rowKount = eduTable.find('tr').length;
                var contactname = '<input name="EmergencyContacts[' + rowKount + '].ContactName" class="form-control" type="text"/>';
                var telephone = '<input name="EmergencyContacts[' + rowKount + '].Telephone" class="form-control" type="text"/>';
                var email = '<input name="EmergencyContacts[' + rowKount + '].Email" class="form-control" type="text"/>';
                var relationship = '<input name="EmergencyContacts[' + rowKount + '].Relationship" class="form-control" type="text"/>';
                var address = '<input name="EmergencyContacts[' + rowKount + '].Address" class="form-control" type="text"/>';

                eduTable.append(' <tr><td>' + contactname + '</td><td>' + telephone + '</td><td>' + email + '</td><td>' + relationship + '</td><td>' + address + '</td></tr>')


            })


            $('a.removeEducation').on('click', function () {
                console.log(this)
                $(this).parent('td').parent('tr').remove();
            })

        })
    </script>
}