@using AwesomeCare.Admin.ViewModels.Staff;
@model PreviewStaffRota
@{
    ViewData["Title"] = "Staff - Preview Rota";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2>Preview Rota</h2>
                @*<ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>*@
            </div>
            <div class="card-body">
                <form asp-route="PreviewRota" method="post">
                   <input type="hidden" asp-for="StartDate" />
                   <input type="hidden" asp-for="StopDate" />

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Staff</th>
                                    <th>Rota</th>
                                    <th>Rota Periods</th>
                                    <th>Items</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int j = 0; j < Model.RotaDays.Count; j++)
                                {
                                    <tr>
                                        <td>
                                            @Model.RotaDays[j].Date.ToLongDateString()
                                            <input type="hidden" asp-for="@Model.RotaDays[j].Date" />
                                        </td>
                                        <td>

                                            <select asp-for="@Model.RotaDays[j].SelectedStaffs" asp-items="Model.Staffs" class="selectpicker" data-live-search="true" multiple></select>
                                            @*<span asp-validation-for="Staff" class="text-danger"></span>*@

                                        </td>
                                        <td>
                                            <select asp-for="@Model.RotaDays[j].RotaId" asp-items="Model.RotaDays[j].Rotas" class="selectpicker" data-live-search="true"></select>
                                            @*<span asp-validation-for="Staff" class="text-danger"></span>*@
                                        </td>
                                        <td>
                                            <div class="">


                                                @for (int i = 0; i < Model.RotaDays[j].RotaTypes.Count; i++)
                                                {
                                                  
                                                        <input asp-for="@Model.RotaDays[j].RotaTypes[i].ClientRotaTypeId" type="hidden">
                                                        <input asp-for="@Model.RotaDays[j].RotaTypes[i].RotaType" type="hidden">
                                                        <input type="checkbox" class="custom-checkbox" asp-for="@Model.RotaDays[j].RotaTypes[i].IsSelected">
                                                        <span>@Model.RotaDays[j].RotaTypes[i].RotaType</span>
                                                    
                                                }
                                            </div>
                                        </td>
                                        <td>

                                            <select asp-for="@Model.RotaDays[j].Items" asp-items="Model.Selections" class="selectpicker" data-live-search="true" multiple></select>
                                            @*<span asp-validation-for="Staff" class="text-danger"></span>*@

                                        </td>
                                        <td>
                                            <div class="form-group">

                                                <textarea asp-for="@Model.RotaDays[j].Remark" class="form-control"></textarea>
                                                <span asp-validation-for="@Model.RotaDays[j].Remark" class="text-danger"></span>
                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>

                   

                    <div class="row">
                        <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right">Create</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

