@using AwesomeCare.DataTransferObject.DTOs.PersonalDetail.ConsentLandline;
@model List<GetConsentLandLine>
<h4>ConsentLandLine</h4>
<hr />
<div class="col-md-12">
    <input type="hidden" asp-for="@Model.FirstOrDefault().LandlineId" />
    <input type="hidden" asp-for="@Model.FirstOrDefault().PersonalDetailId" />
    <div class="row">
        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <label class="control-label">Signature</label>
            <baserecord asp-key="Signature" asp-for="@Model.FirstOrDefault().Signature" asp-items="null" />
            <span asp-validation-for="@Model.FirstOrDefault().Signature" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <label class="control-label">Date</label>
            <input type="text" asp-for="@Model.FirstOrDefault().Date" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
            <span asp-validation-for="@Model.FirstOrDefault().Date" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <label class="control-label">Method Of Log</label>
            <baserecord asp-key="LogMethod" asp-for="@Model.FirstOrDefault().LogMethod" asp-items="null" />
            <span asp-validation-for="@Model.FirstOrDefault().LogMethod" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-10 col-xs-12 col-md-10 col-lg-10"></div>
        @*<div class="form-group col-sm-2 col-xs-12 col-md-2 col-lg-2">
            <input type="submit" value="Create" class="btn btn-default" style="margin-top: 28px;" />
        </div>*@
    </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}