@using AwesomeCare.Admin.ViewModels.CarePlan;
@using AwesomeCare.DataTransferObject.DTOs.PersonalDetail.Equipment;
@model CreateCarePlan
@{ ViewData["Title"] = "Create Personal Detail"; }
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">
                <h2></h2>
            </div>
            <div class="card-body">
                <form asp-route="PersonalDetail" method="post" enctype="multipart/form-data">

                    <input type="hidden" asp-for="PersonalDetailId" />
                    <input type="hidden" asp-for="ClientId" />

                    <h4>Person Centredness</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="btn-group form-group col-sm-10 col-xs-12 col-md-10 col-lg-10" role="group"></div>
                                <div class="btn-group form-group col-sm-2 col-xs-12 col-md-2 col-lg-2" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" id="btnClass1">INDIVIDUALITY</a>
                                        <a class="dropdown-item" id="btnClass2">RIGHTS & RESPECT</a>
                                        <a class="dropdown-item" id="btnClass3">CHOICE</a>
                                        <a class="dropdown-item" id="btnClass4">DIGNITY & PRIVACY</a>
                                        <a class="dropdown-item" id="btnClass5">PARTNERSHIP</a>
                                    </div>
                                </div>
                            </div>
                                <input type="hidden" asp-for="@Model.PersonCentreCount" value="@Model.PersonCentreCount" />
                                <table class="table table-hover table-bordered" id="tblPersonCentered">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Class</th>
                                            <th>Focus</th>
                                            <th>Expected Support</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @{
                                        int i = 1;

                                        if (Model.GetPersonCentred.Count > 0)
                                        {
                                            int j = Model.GetPersonCentred.Count;
                                                
                                                foreach (var item in Model.GetPersonCentred)
                                                {
                                                    string key = @Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString();
                                                    <tr id="@item.Class">
                                                        @{
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Individuality")
                                                            {
                                                                <td>
                                                                    <div class="fancy-checkbox">
                                                                        <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked1")" id="@string.Concat("isChecked1")" checked /><span><small> </small></span></label>
                                                                        <input type="hidden" id="@string.Concat("PersonCentredId1")" name="@string.Concat("PersonCentredId1")" value="@item.PersonCentredId" />
                                                                    </div>
                                                                </td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "RightsAndRespect")
                                                            {
                                                               <td>
                                                                    <div class="fancy-checkbox">
                                                                        <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked2")" id="@string.Concat("isChecked2")" checked /><span><small> </small></span></label>
                                                                        <input type="hidden" id="@string.Concat("PersonCentredId2")" name="@string.Concat("PersonCentredId2")" value="@item.PersonCentredId" />
                                                                    </div>
                                                                </td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Choice")
                                                            {
                                                                <td>
                                                                    <div class="fancy-checkbox">
                                                                        <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked3")" id="@string.Concat("isChecked3")" checked /><span><small> </small></span></label>
                                                                        <input type="hidden" id="@string.Concat("PersonCentredId3")" name="@string.Concat("PersonCentredId3")" value="@item.PersonCentredId" />
                                                                    </div>
                                                                </td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "DignityAndPrivacy")
                                                            {
                                                                <td>
                                                                    <div class="fancy-checkbox">
                                                                        <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked4")" id="@string.Concat("isChecked4")" checked /><span><small> </small></span></label>
                                                                        <input type="hidden" id="@string.Concat("PersonCentredId4")" name="@string.Concat("PersonCentredId4")" value="@item.PersonCentredId" />
                                                                    </div>
                                                                </td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Partnership")
                                                            {
                                                                <td>
                                                                    <div class="fancy-checkbox">
                                                                        <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked5")" id="@string.Concat("isChecked5")" checked /><span><small> </small></span></label>
                                                                        <input type="hidden" id="@string.Concat("PersonCentredId5")" name="@string.Concat("PersonCentredId5")" value="@item.PersonCentredId" />
                                                                    </div>
                                                                </td>
                                                            }
                                                        }
                                                        
                                                        @{
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Individuality")
                                                            {
                                                                <td>@Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault() <input type="hidden" id="@string.Concat("Class1")" name="@string.Concat("Class1")" value="@item.Class" /></td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "RightsAndRespect")
                                                            {
                                                               <td>@Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault() <input type="hidden" id="@string.Concat("Class2")" name="@string.Concat("Class2")" value="@item.Class" /></td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Choice")
                                                            {
                                                                <td>@Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault() <input type="hidden" id="@string.Concat("Class3")" name="@string.Concat("Class3")" value="@item.Class" /></td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "DignityAndPrivacy")
                                                            {
                                                                <td>@Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault() <input type="hidden" id="@string.Concat("Class4")" name="@string.Concat("Class4")" value="@item.Class" /></td>
                                                            }
                                                            if (Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault().ToString() == "Partnership")
                                                            {
                                                                <td>@Model.ClassList.Where(s => s.Value == item.Class.ToString()).Select(s => s.Text).FirstOrDefault() <input type="hidden" id="@string.Concat("Class5")" name="@string.Concat("Class5")" value="@item.Class" /></td>
                                                            }
                                                        }
                                                        @{
                                                            if (i == 1)
                                                            {
                                                                <td><select asp-for="@Model.Focus1" asp-items="@Model.FocusList.Where(s=>s.Key==key).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple></select></td>
                                                            }
                                                            if (i == 2)
                                                            {
                                                                <td><select asp-for="@Model.Focus2" asp-items="@Model.FocusList.Where(s=>s.Key==key).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple></select></td>
                                                            }
                                                            if (i == 3)
                                                            {
                                                                <td><select asp-for="@Model.Focus3" asp-items="@Model.FocusList.Where(s=>s.Key==key).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple></select></td>
                                                            }
                                                            if (i == 4)
                                                            {
                                                                <td><select asp-for="@Model.Focus4" asp-items="@Model.FocusList.Where(s=>s.Key==key).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple></select></td>
                                                            }
                                                            if (i == 5)
                                                            {
                                                                <td><select asp-for="@Model.Focus5" asp-items="@Model.FocusList.Where(s=>s.Key==key).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple></select></td>
                                                            }

                                                        }
                                                        <td><textarea name="@string.Concat("ExpSupport",i)" class="form-control">@item.ExpSupport</textarea></td>
                                                    </tr>
                                                    i++;
                                                }
                                                var k = 0;
                                                foreach (var item1 in Model.ClassList)
                                                {
                                                        

                                                    <tr id="@string.Concat("trClass",(k+1))" style="display:none">
                                                        <td>
                                                            <div class="fancy-checkbox">
                                                                <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked",(k+1))" id="@string.Concat("isChecked",(k+1))" /><span><small> </small></span></label>
                                                                <input type="hidden" id="@string.Concat("PersonCentredId",(k+1))" name="@string.Concat("PersonCentredId",(k+1))" value="0" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select id="@string.Concat("Class",(k+1))" name="@string.Concat("Class",(k+1))" class="selectpicker form-control">
                                                                <option value="@item1.Value">@item1.Text</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select id="@string.Concat("Focus",(k+1))" name="@string.Concat("Focus",(k+1))" asp-items="@Model.FocusList.Where(s=>s.Key==item1.Text.ToString()).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple>
                                                            </select>
                                                        </td>
                                                        <td><textarea id="@string.Concat("ExpSupport",(k+1))" name="@string.Concat("ExpSupport",(k+1))" class="form-control"></textarea></td>
                                                    </tr>
                                                    k++;

                                                }
                                         }
                                        else
                                        {
                                            @foreach (var item in Model.ClassList)
                                            {

                                                <tr id="@string.Concat("trClass",i)" style="display:none">
                                                    <td>
                                                        <div class="fancy-checkbox">
                                                            <label><input type="checkbox" class="selectDay" name="@string.Concat("isChecked",i)" id="@string.Concat("isChecked",i)" /><span><small> </small></span></label>
                                                            <input type="hidden" id="@string.Concat("PersonCentredId",i)" name="@string.Concat("PersonCentredId",i)" value="0" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select id="@string.Concat("Class",i)" name="@string.Concat("Class",i)" class="selectpicker form-control">
                                                            <option value="@item.Value">@item.Text</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="@string.Concat("Focus",i)" name="@string.Concat("Focus",i)" asp-items="@Model.FocusList.Where(s=>s.Key==item.Text.ToString()).Select(s=>s.Value).FirstOrDefault()" class="selectpicker form-control" multiple>
                                                        </select>
                                                    </td>
                                                    <td><textarea id="@string.Concat("ExpSupport",i)" name="@string.Concat("ExpSupport",i)" class="form-control"></textarea></td>
                                                </tr>
                                                i++;

                                            }
                                        }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    <h4>Capacity</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="CapacityId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Pointer</label>
                                    <baserecord asp-key="Capacity_Pointer" asp-for="Pointer" asp-items="null" />
                                    <span asp-validation-for="Pointer" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Implications</label>
                                    <baserecord asp-key="Capacity_Implications" asp-for="Implications" asp-items="null" />
                                    <span asp-validation-for="Implications" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Indicators</label>
                                    <select asp-for="Indicator" asp-items="@Model.IndicatorList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="Indicator" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Personal</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="PersonalId" />
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Smoking</label>
                                    <baserecord asp-key="Smoking" asp-for="Smoking" asp-items="null" />
                                    <span asp-validation-for="Smoking" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">DNR in Place</label>
                                    <baserecord asp-key="DNR" asp-for="DNR" asp-items="null" />
                                    <span asp-validation-for="DNR" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Religion</label>
                                    <input type="text" asp-for="Religion" value="@Model.Religion" class="form-control" />
                                    <span asp-validation-for="Religion" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Nationality</label>
                                    <input type="text" asp-for="Nationality" value="@Model.Nationality" class="form-control" />
                                    <span asp-validation-for="Nationality" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Review</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="ReviewId" />
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">CarePlan Prepared Date</label>
                                    <input type="text" asp-for="CP_PreDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CP_PreDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">CarePlan Review Date</label>
                                    <input type="text" asp-for="CP_ReviewDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CP_ReviewDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Risk Assessment Prepared Date</label>
                                    <input type="text" asp-for="RA_PreDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="RA_PreDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Risk Assessment Review Date</label>
                                    <input type="text" asp-for="RA_ReviewDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="RA_ReviewDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Key Indicators</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="KeyId" />
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Living Status</label>
                                    <baserecord asp-key="LivingStatus" asp-for="LivingStatus" asp-items="null" />
                                    <span asp-validation-for="LivingStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Debture</label>
                                    <baserecord asp-key="Debture" asp-for="Debture" asp-items="null" />
                                    <span asp-validation-for="Debture" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Method of Log</label>
                                    <select asp-for="LogMethod" asp-items="@Model.KeyLogList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="LogMethod" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">About Me</label>
                                    <textarea type="text" asp-for="AboutMe" class="form-control"></textarea>
                                    <span asp-validation-for="AboutMe" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Things I Like To Talk About</label>
                                    <textarea type="text" asp-for="ThingsILike" class="form-control"></textarea>
                                    <span asp-validation-for="ThingsILike" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <label class="control-label">Role Of My Family</label>
                                    <textarea type="text" asp-for="FamilyRole" class="form-control"></textarea>
                                    <span asp-validation-for="FamilyRole" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Equipment</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="button" id="Addrow" class="btn btn-primary pull-right mr-2 ml-5">Add</button>
                                <button type="button" id="Delrow" class="btn btn-primary pull-right">Delete</button>
                            </div>
                            <input type="hidden" asp-for="@Model.EquipmentCount" value="@Model.EquipmentCount" />
                            <table class="table table-hover table-bordered" id="tblEquipment">
                                <thead>
                                    <tr>
                                        <th>Service Date</th>
                                        <th>Next Service Date</th>
                                        <th>Equipment Status</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Location</th>
                                        <th>Person To Act</th>
                                        <th>Status Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.GetEquipment.Count > 0)
                                    {
                                        @foreach (var equip in Model.GetEquipment)
                                        {
                                            <tr id="@equip.EquipmentId">
                                                <td><input type="text" asp-for="@Model.GetEquipment.FirstOrDefault().ServiceDate" value="@equip.ServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /><input type="hidden" asp-for="EquipmentId" value="@equip.EquipmentId" /> </td>
                                                <td><input type="text" asp-for="@Model.GetEquipment.FirstOrDefault().NextServiceDate" value="@equip.NextServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /></td>
                                                <td><baserecord asp-key="Equipment_Status" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).Status" asp-items="null" /></td>
                                                <td><baserecord asp-key="Equipment_Name" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).Name" asp-items="null" /></td>
                                                <td><baserecord asp-key="Equipment_Type" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).Type" asp-items="null" /></td>
                                                <td><baserecord asp-key="Equipment_Location" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).Location" asp-items="null" /></td>
                                                <td><select class="selectpicker" data-live-search="true" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).PersonToAct" asp-items="Model.StaffList"></select></td>
                                                <td><input type="hidden" asp-for="@Model.GetEquipment.FirstOrDefault(s=>s.EquipmentId==equip.EquipmentId).Attachment" value="@equip.Attachment" /></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h4>Consent For Landline</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="LandLineId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="LandLineDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="LandLineDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="LandLineSignature" asp-items="null" />
                                    <span asp-validation-for="LandLineSignature" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Method of Log</label><br />
                                    <select asp-for="LandLineLogMethod" asp-items="@Model.LandLogList" class="selectpicker form-control" data-live-search="true" multiple></select>
                                    <span asp-validation-for="LandLineLogMethod" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                    <label class="control-label">Name</label>
                                    <select class="selectpicker form-control" asp-for="@Model.LandName" asp-items="@Model.InvolingList"></select>
                                    <span asp-validation-for="LandName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Consent For Care</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="CareId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="CareDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="CareDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="CareSignature" asp-items="null" />
                                    <span asp-validation-for="CareSignature" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Name</label>
                                    <select class="selectpicker form-control" data-live-search="true" asp-for="@Model.CareName" asp-items="@Model.InvolingList"></select>
                                    <span asp-validation-for="CareName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Consent For Data</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="hidden" asp-for="DataId" />
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                    <h6 style="text-align:justify;">I hereby give my consent that Awesome Healthcare Solutions can use my landline for the purpose of staff login and out where applicable, to monitor and track compliance of staff. The use of the landline will be for the sole purpose of staff logs.</h6><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Date</label>
                                    <input type="text" asp-for="DataDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" />
                                    <span asp-validation-for="DataDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Signature</label>
                                    <baserecord asp-key="Signature" asp-for="DataSignature" asp-items="null" />
                                    <span asp-validation-for="DataSignature" class="text-danger"></span>
                                </div>
                                <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                    <label class="control-label">Name</label>
                                    <select asp-for="@Model.DataName" asp-items="@Model.InvolingList" class="selectpicker form-control"></select>
                                    <span asp-validation-for="DataName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Submit Button*@
                    <div class="row">
                        <div class="form-group col-sm-10 col-xs-12 col-md-10 col-lg-10">
                            <button type="submit" class="btn btn-primary pull-right">@Model.ActionName</button>
                        </div>
                    </div>

                </form>
                <table class="table table-hover table-bordered" id="Equipment" style="display:none;">
                    <thead>
                        <tr>
                            <th>Service Date</th>
                            <th>Next Service Date</th>
                            <th>Equipment Status</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Person To Act</th>
                            <th>Status Attachment</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><input type="text" asp-for="ServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /><input type="hidden" asp-for="EquipmentId" value="0" /> </td>
                                <td><input type="text" asp-for="NextServiceDate" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm/dd/yyyy" /></td>
                                <td><baserecord asp-key="Equipment_Status" asp-for="Status" asp-items="null" /></td>
                                <td><baserecord asp-key="Equipment_Name" asp-for="Name" asp-items="null" /></td>
                                <td><baserecord asp-key="Equipment_Type" asp-for="Type" asp-items="null" /></td>
                                <td><baserecord asp-key="Equipment_Location" asp-for="Location" asp-items="null" /></td>
                                <td><baserecord asp-key="GetStaff" asp-for="PersonToAct" asp-items="Model.StaffList" /></td>
                                <td><input type="file" id="Image" name="Image" class="dropify" accept=".png, .jpg, .jpeg, .pdf, .xlsx, .docx"><input type="hidden" asp-for="Attachment" value="" /></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section Scripts{
<script src="~/assets2/js/jquery-3.6.0.min.js"></script>
    <script>
        function getId(e) {
            var value = e.value;
            $('#itemIdcmb').siblings().first().val(value);
        };
        $(function () {
            
            $('#btnClass1').on('click', function () {
                $('#tblPersonCentered > tbody  > tr').each(function () {
                    var Id = $(this)[0].id;
                    var Pid = $('#PersonCentredId1').val();
                    var counter = $('#PersonCentreCount').val();
                    if (Id == "trClass1" && Pid <= 0) 
                    {
                        $('#' + Id).show(1000);
                        counter++;
                        $('#PersonCentreCount').val(counter);

                    }
                });
            });
            $('#btnClass2').on('click', function () {
                $('#tblPersonCentered > tbody  > tr').each(function () {
                    var Id = $(this)[0].id;
                    var Pid = $('#PersonCentredId2').val();
                    var counter = $('#PersonCentreCount').val();
                    if (Id == "trClass2" && Pid <= 0) 
                    {
                        $('#' + Id).show(1000);
                        counter++;
                        $('#PersonCentreCount').val(counter);
                    }
                });
            });
            $('#btnClass3').on('click', function () {
                $('#tblPersonCentered > tbody  > tr').each(function () {
                    var Id = $(this)[0].id;
                    var Pid = $('#PersonCentredId3').val();
                    var counter = $('#PersonCentreCount').val();
                    if (Id == "trClass3" && Pid <= 0)  
                    {
                        $('#' + Id).show(1000);
                        counter++;
                        $('#PersonCentreCount').val(counter);
                    }
                });
            });
            $('#btnClass4').on('click', function () {
                $('#tblPersonCentered > tbody  > tr').each(function () {
                    var Id = $(this)[0].id;
                    var Pid = $('#PersonCentredId4').val();
                    var counter = $('#PersonCentreCount').val();
                    if (Id == "trClass4" && Pid <= 0)  
                    {
                        $('#' + Id).show(1000);
                        counter++;
                        $('#PersonCentreCount').val(counter);
                    }
                });
            });
            $('#btnClass5').on('click', function () {
                $('#tblPersonCentered > tbody  > tr').each(function () {
                    var Id = $(this)[0].id;
                    var Pid = $('#PersonCentredId5').val();
                    var counter = $('#PersonCentreCount').val();
                    if (Id == "trClass5" && Pid <= 0)  
                    {
                        $('#' + Id).show(1000);
                        counter++;
                        $('#PersonCentreCount').val(counter);
                    }
                });
            });
            var table = $('#tblEquipment').DataTable({
                scrollCollapse: true,
                select: {
                    style: 'single'
                },
                searching: false, paging: false, info: false
            });

            var counter = $("#EquipmentCount").val();


            $('#Addrow').on('click', function () {
                counter++;
                var clone = $("#Equipment tr:last").clone();
                clone.attr('id', 'row-' + counter);
                table.rows.add(clone).draw();
                $('#EquipmentCount').val(counter);

            });

            $('#tblEquipment tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#Delrow').click(function () {
                const id = table.row('.selected').id();
                if (table.row('.selected').length > 0) {
                    const row = table.rows('.selected').remove().draw();
                    counter--;
                    $('#EquipmentCount').val(counter);
                }
                else {
                    alert("Please select row for delete !");
                }
            });
        });


    </script>
}