@using AwesomeCare.Admin.ViewModels.Client;
@model CreateClientBodyTemp
@{
    ViewData["Title"] = "View Client Body Temp";
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="header">

                <h2></h2>

            </div>
            <div class="body">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <input type="hidden" asp-for="BodyTempId" />
                        <input type="hidden" asp-for="ClientId" />
                        <div class="row">
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Date</label>
                                <input type="text" asp-for="Date" class="form-control" readonly />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Time</label>
                                <input type="text" asp-for="Time" class="form-control"  readonly />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Deadline</label>
                                <input type="text" asp-for="Deadline" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Officer To Act</label>
                                <select asp-for="OfficerToAct" asp-items="@Model.OfficerToActList" class="selectpicker" data-live-search="true" multiple></select>
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Staff Name</label>
                                <select asp-for="StaffName" asp-items="@Model.StaffNameList" class="selectpicker" data-live-search="true" multiple></select>
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Physician Name</label>
                                <select asp-for="Physician" asp-items="@Model.PhysicianList" class="selectpicker" data-live-search="true" multiple></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">SeeChart Status</label>
                                <baserecord asp-key="SeeChart_Status" asp-for="SeeChart" asp-items="null" />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Target Temperature</label>
                                <baserecord asp-key="Target_Temperature" asp-for="TargetTemp" asp-items="null" />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Current Reading</label>
                                <input type="text" asp-for="CurrentReading" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Status</label>
                                <baserecord asp-key="Tele_Health_Status" asp-for="Status" asp-items="null" />
                            </div>
                            <div class="form-group col-sm-4 col-xs-12 col-md-4 col-lg-4">
                                <label class="control-label">Reference</label>
                                <input type="text" asp-for="Reference" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <label class="control-label">Comment</label>
                                <textarea type="text" asp-for="Comment" class="form-control" readonly></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <label class="control-label">Physician Response</label>
                                <textarea type="text" asp-for="PhysicianResponse" class="form-control" readonly></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <label class="control-label">Remarks</label>
                                <textarea type="text" asp-for="Remarks" class="form-control" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">

                        <div class="card">
                            <div class="header">
                                <h2>SeeChart Attachment<small></small></h2>
                            </div>
                            <div class="body">
                                <img src="@Model.SeeChartAttach" alt="image" width="300" height="240" />
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>Target Temp Attachment<small></small></h2>
                            </div>
                            <div class="body">
                                <img src="@Model.TargetTempAttach" alt="image" width="300" height="240" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                                <a asp-action="Index" asp-route-clientId="@Model.ClientId" class="btn btn-primary pull-left">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets/bundles/mainscripts.bundle.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-select').attr("disabled", "disabled");
        });
    </script>
}

@section Scripts{
    <script src="../../../assets/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets/js/pages/forms/dropify.js"></script>
}

