@model IEnumerable<AwesomeCare.DataTransferObject.DTOs.StaffSupervisionAppraisal.GetStaffSupervisionAppraisal>

@{
    ViewData["Title"] = "View";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffSupervisionAppraisalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextCheckDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalDevelopment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffComplaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiveStarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffDevelopment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffAbility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoAbilityToSupport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondourAndWhistleBlowing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoCondourAndWhistleBlowing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffSupportAreas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerToAct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffSupervisionAppraisalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextCheckDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalDevelopment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffComplaints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveStarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffDevelopment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffAbility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoAbilityToSupport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondourAndWhistleBlowing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoCondourAndWhistleBlowing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffSupportAreas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerToAct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
        </tr>
}
    </tbody>
</table>
