@using AwesomeCare.Admin.ViewModels.CarePlan.HomeRiskAssessment;

@model CreateHomeRiskAssessment

<div class="col-lg-12">
    <div class="accordion" id="accordion">
            <div>
                <div class="card-header">
                    
                </div>

                <div class="card-body">
                    <input type="hidden" asp-for="@Model.ClientId" />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Title</th>
                                <th>Answer</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HeadingList)
                            {
                            <tr>
                                <td>
                                    <input type="checkbox" asp-for="@Model.Tasks.FirstOrDefault().IsSelected" />
                                    <input type="hidden" asp-for="@Model.Tasks.FirstOrDefault().HomeRiskAssessmentId" />
                                    <input type="hidden" asp-for="@Model.Tasks.FirstOrDefault().HomeRiskAssessmentTaskId" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" asp-for="@Model.Heading" value="@item.Text" />
                                </td>
                                <td>
                                    <baserecord asp-key="@item.Text" asp-for="@Model.Tasks.FirstOrDefault().Title" asp-items="null" />
                                    <span asp-validation-for="@Model.Tasks.FirstOrDefault().Title" class="text-danger"></span>
                                </td>
                                <td>
                                    <baserecord asp-key="Home_Risk_Assessment_Answer" asp-for="@Model.Tasks.FirstOrDefault().Answer" asp-items="null" />
                                    <span asp-validation-for="@Model.Tasks.FirstOrDefault().Answer" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.Tasks.FirstOrDefault().Comment" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Tasks.FirstOrDefault().Comment" class="text-danger"></span>
                                </td>
                            </tr>
                                
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>



</div>