@using AwesomeCare.Admin.ViewModels.CarePlan.HomeRiskAssessment;

@model CreateHomeRiskAssessment
@{
    ViewData["Title"] = "Home Risk Assessment Heading";
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-md-12" id="accordion">
        <div class="card">
            <div class="card-header">
                <h2>Add Heading</h2>
            </div>
            <div class="body clearfix">
                <form asp-action="CreateHeading" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.ClientId" />
                    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Heading</label>
                            <baserecord asp-key="Home_Risk_Assessment_Heading" asp-items="null" asp-for="HeadingId" class="form-control" />
                            <span asp-validation-for="HeadingId" class="text-danger"></span>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Home Risk Assessment Headings</h2>

            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="homeRisk">
                    <thead>
                        <tr>
                            <th>Heading</th>
                            <th>Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HeadingList)
                        {
                            <tr>
                                <td>
                                    @item.Text
                                </td>
                                <td>
                                    <a asp-action="Index" asp-route-clientId="@Model.ClientId" asp-route-heading="@item.Text" asp-route-homeRiskId="@item.Value" class="btn btn-success btn-sm">Tasks</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        @section VendorScripts{
            <script src="../../../assets/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
            <script src="../../../assets/vendor/dropify/js/dropify.min.js"></script>
            <script src="../../../assets/bundles/mainscripts.bundle.js"></script>
        }

        @section Scripts{
            <script src="../../../assets/js/pages/forms/form-wizard.js"></script>
            <script src="../../../assets/js/pages/forms/dropify.js"></script>
        }
