@using AwesomeCare.DataTransferObject.DTOs.BaseRecord;
@model List<GetBaseRecordWithItems>

@{
    ViewData["Title"] = "Base Record";
}

<h2>Base Record</h2>


<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Base Record Items</h2>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordion">
                    @foreach (var itemDesc in Model.Select(x => x.Description).Distinct())
                    {
                        var Desc = itemDesc.Replace(" ", string.Empty);
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0 row">
                                    <button class="btn btn-link col-sm-10" type="button" data-toggle="collapse" data-target="#@Desc" aria-expanded="false" aria-controls="@Desc">
                                        @Desc
                                    </button>
                                </h5>
                            </div>
                            <div id="@Desc" class="collapse" aria-labelledby="@Desc" data-parent="#accordion">

                                @foreach (var baseRecord in Model)
                                {
                                    if (Desc == baseRecord.Description)
                                    {
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0 row">
                                                        <button class="btn btn-link col-sm-10" type="button" data-toggle="collapse" data-target="#@baseRecord.BaseRecordId" aria-expanded="false" aria-controls="@baseRecord.BaseRecordId">
                                                            <small>(Key: @baseRecord.KeyName)</small>
                                                        </button>
                                                        <a asp-action="AddBaseRecordItem" asp-controller="Admin" asp-route-baseRecord="@baseRecord.KeyName" asp-route-baseRecordId="@baseRecord.BaseRecordId" class="col-sm-offset-1 col-sm-1" title="Add"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a>
                                                    </h5>
                                                </div>
                                                <div id="@baseRecord.BaseRecordId" class="collapse" aria-labelledby="@baseRecord.KeyName" data-parent="@string.Concat("#",Desc)">
                                                    <div class="card-body">
                                                        <table class="table table-condensed table-borderless table-hover">
                                                            @foreach (var item in baseRecord.BaseRecordItems)
                                                            {
                                                                //BaseRecord Content
                                                                <tr>
                                                                    <td> @item.ValueName</td>
                                                                    <td>   <a asp-controller="Admin" asp-action="EditBaseRecordItem" asp-route-baseRecordItemId="@item.BaseRecordItemId"> <i class="fa fa-pencil m-r-5" /></a></td>
                                                                </tr>

                                                            }
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0 row">
                    <span class="col-sm-10">Base Record PIN</span>
                    <small class="col-sm-offset-1 col-sm-1"><a class="col-sm-offset-1 col-sm-1" title="Add" asp-controller="Rotering" asp-action="AddPin"><span class="sr-only">Add</span> <i class="fa fa-plus"></i></a> </small>
                </h2>
            </div>
            <div class="card-body">
                @foreach (var rota in ViewBag.Pin)
                {
                <div class="accordion" id="@string.Concat(rota.Key,rota.PinId,rota.PinId)">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 row">
                                <button class="btn btn-link col-sm-10" type="button" data-toggle="collapse" data-target="@string.Concat("#",rota.Key)" aria-expanded="false" aria-controls="@string.Concat(rota.Key)">
                                    @string.Concat(rota.Key)
                                </button>
                            </h5>
                        </div>
                        <div id="@string.Concat(rota.Key)" class="collapse" aria-labelledby="@string.Concat(rota.Key)" data-parent="@string.Concat("#",rota.Key,rota.PinId,rota.PinId)">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0 row">
                                            <button class="btn btn-link col-sm-10" type="button" data-toggle="collapse" data-target="@string.Concat("#",rota.Key,rota.PinId)" aria-expanded="false" aria-controls="@string.Concat(rota.Key,rota.PinId)">
                                                <small> @string.Concat("(Key: ",rota.Key," PIN)") </small>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="@string.Concat(rota.Key,rota.PinId)" class="collapse" aria-labelledby="RotteringPIN" data-parent="@string.Concat("#",rota.Key)">
                                        <div class="card-body">
                                            <table class="table table-condensed table-borderless table-hover">
                                                <tr>
                                                    <td> ********</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary fa fa-pencil m-r-5" data-bs-toggle="modal" data-bs-target="@string.Concat("#",rota.Key,"Modal")">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>
        </div>
    </div>
</div>
@foreach (var rota in ViewBag.Pin)
{
    <div class="modal fade" id="@string.Concat(rota.Key,"Modal")" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="RoteringForm" asp-controller="Rotering" asp-action="ChangePin" method="post">
                    <div class="modal-body">
                        <div class="card">
                            <input type="hidden" name="pinId" value="@rota.PinId" />
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Please Enter Old Pin</label>
                                    <input type="password" class="form-control" name="oldPin" />
                                </div>
                                <div class="form-group">
                                    <label>Please Enter New pin</label>
                                    <input type="password" class="form-control" name="newPin" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    }
@*<div class="modal fade" id="taskboardModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="TaskBoardForm" asp-controller="TaskBoard" asp-action="ChangePin" method="post">
                <div class="modal-body">
                    <div class="card">
                        <input type="hidden" name="pinId" value="2" />
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Please Enter Old Pin</label>
                                <input type="password" class="form-control" name="oldPin" />
                            </div>
                            <div class="form-group">
                                <label>Please Enter New pin</label>
                                <input type="password" class="form-control" name="newPin" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>*@
@section VendorScripts{
    <script src="~/assets2/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[id^="btnRotering"]').on('click', function () {
                const Btn = $(this);
                const Id = Btn.data('id');
                $('#clientId').val(Id);
            });
            $('[id^="#btnRoteringGrid"]').on('click', function () {
                const Btn = $(this);
                const Id = Btn.data('id');
                console.log(Id);
                $('#clientId').val(Id);
            });
            $('#RoteringForm').submit(function () {
                const id = $('#clientId').val();
                const pin = $('#pin').val();
                console.log(pin);
                if (pin != undefined) {
                    shownotification("Please enter your pin code", "error");
                    return false;
                }
                else {
                    if (id > 0) {
                        return true;
                    }


                }
            });
        });
    </script>
}