@using AwesomeCare.Admin.ViewModels.CarePlan.InterestObjective;
@model CreateInterestAndObjective
@{
    ViewData["Title"] = @Model.Title;
}
@section HeaderScripts{
    <link rel="stylesheet" href="../../../assets/vendor/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" href="../../../assets/vendor/dropify/css/dropify.min.css">
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="card-header">

                <h2></h2>

            </div>
            <div class="card-body">
                <form asp-action="@Model.Method" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="GoalId" />
                    <input type="hidden" asp-for="ClientId" />
                    <h4>INTEREST</h4>

                    <div class="row">
                        <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                            <label class="control-label">Brief</label>
                            <textarea type="text" asp-for="Brief" class="form-control"></textarea>
                            <span asp-validation-for="Brief" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <button type="button" id="Addrow" class="btn btn-primary pull-right mr-2 ml-5">Add</button>
                                        <button type="button" id="Delrow" class="btn btn-primary pull-right">Delete</button>
                                    </div>
                                    <input type="hidden" asp-for="@Model.InterestCount" value="@Model.InterestCount" />

                                    <table class="table table-hover table-bordered" id="tblInterest">
                                        <thead>
                                            <tr>
                                                <th> LeisureActivity</th>
                                                <th> InformalActivity</th>
                                                <th> MaintainContact</th>
                                                <th> CommunityActivity</th>
                                                <th> EventAwareness</th>
                                                <th> GoalAndObjective</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.GetInterest.Count > 0)
                                            {
                                                @foreach (var type in Model.GetInterest)
                                                {
                                                    <tr>
                                                        <td><baserecord asp-key="Interest_LeisureAct" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).LeisureActivity" asp-items="null" /></td>
                                                        <td><baserecord asp-key="Interest_InformalAct" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).InformalActivity" asp-items="null" /></td>
                                                        <td><baserecord asp-key="Interest_MaintainContact" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).MaintainContact" asp-items="null" /></td>
                                                        <td><baserecord asp-key="Interest_CommunityActivity" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).CommunityActivity" asp-items="null" /></td>
                                                        <td><baserecord asp-key="Interest_EventAwareness" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).EventAwarness" asp-items="null" /></td>
                                                        <td><baserecord asp-key="Interest_GoalAndObj" asp-for="@Model.GetInterest.FirstOrDefault(s=>s.InterestId==type.InterestId).GoalAndObjective" asp-items="null" /></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <table class="table table-hover table-bordered" id="IntAndObj" style="display:none;">
                                        <thead>
                                            <tr>
                                                <th> LeisureActivity</th>
                                                <th> InformalActivity</th>
                                                <th> MaintainContact</th>
                                                <th> CommunityActivity</th>
                                                <th> EventAwareness</th>
                                                <th> GoalAndObjective</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><baserecord asp-key="Interest_LeisureAct" asp-for="@Model.GetInterest.FirstOrDefault().LeisureActivity" asp-items="null" /></td>
                                                <td><baserecord asp-key="Interest_InformalAct" asp-for="@Model.GetInterest.FirstOrDefault().InformalActivity" asp-items="null" /></td>
                                                <td><baserecord asp-key="Interest_MaintainContact" asp-for="@Model.GetInterest.FirstOrDefault().MaintainContact" asp-items="null" /></td>
                                                <td><baserecord asp-key="Interest_CommunityActivity" asp-for="@Model.GetInterest.FirstOrDefault().CommunityActivity" asp-items="null" /></td>
                                                <td><baserecord asp-key="Interest_EventAwareness" asp-for="@Model.GetInterest.FirstOrDefault().EventAwarness" asp-items="null" /></td>
                                                <td><baserecord asp-key="Interest_GoalAndObj" asp-for="@Model.GetInterest.FirstOrDefault().GoalAndObjective" asp-items="null" /></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>GOAL AND OBJECTIVE OF CARE</h4>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <textarea type="text" asp-for="CareGoal" class="form-control"></textarea>
                        <span asp-validation-for="CareGoal" class="text-danger"></span>
                    </div>

                    <h4>Personality Test</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <button type="button" id="Addrow1" class="btn btn-primary pull-right mr-2 ml-5">Add</button>
                                        <button type="button" id="Delrow1" class="btn btn-primary pull-right">Delete</button>
                                    </div>
                                    
                                    <input type="hidden" asp-for="@Model.PersonalityCount" value="@Model.PersonalityCount" />

                                    <table class="table table-hover table-bordered" id="tbl_Ptest">
                                        <thead>
                                            <tr>
                                                <th> Question </th>
                                                <th> Answer </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.GetPersonalityTest.Count > 0)
                                            {
                                                @foreach (var type in Model.GetPersonalityTest)
                                                {
                                                    <tr>

                                                        <td><input type="hidden" asp-for="@Model.GetPersonalityTest.FirstOrDefault(s=>s.TestId==type.TestId).TestId" /><baserecord asp-key="PTest_Question" asp-for="@Model.GetPersonalityTest.FirstOrDefault(s=>s.TestId==type.TestId).Question" asp-items="null" /></td>
                                                        <td><baserecord asp-key="PTest_Answer" asp-for="@Model.GetPersonalityTest.FirstOrDefault(s=>s.TestId==type.TestId).Answer" asp-items="null" /></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    <table class="table table-hover table-bordered" id="ptest" style="display:none;">
                                        <thead>
                                            <tr>
                                                <th> Question </th>
                                                <th> Answer </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><baserecord asp-key="PTest_Question" asp-for="@Model.GetPersonalityTest.FirstOrDefault().Question" asp-items="null" /></td>
                                                <td><baserecord asp-key="PTest_Answer" asp-for="@Model.GetPersonalityTest.FirstOrDefault().Answer" asp-items="null" /></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                            <button type="submit" class="btn btn-primary pull-right">@Model.ActionName</button>
                        </div>
                        <div class="form-group col-sm-6 col-xs-12 col-md-4 col-lg-6">
                            <a asp-action="Index" asp-route-clientId="ClientId" class="btn btn-primary pull-left">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section VendorScripts{
    <script src="../../../assets/vendor/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="../../../assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="../../../assets/bundles/mainscripts.bundle.js"></script>
}

@section Scripts{
    <script src="../../../assets/js/pages/forms/form-wizard.js"></script>
    <script src="../../../assets/js/pages/forms/dropify.js"></script>
    <script>
        $(function () {
            
            var table = $('#tblInterest').DataTable({
                scrollCollapse: true,
                select: {
                    style: 'single'
                },
                searching: false, paging: false, info: false
            });
            var counter = $("#InterestCount").val();
            $('#Addrow').on('click', function () {
                counter++;
                var clone = $("#IntAndObj tr:last").clone();
                clone.attr('id', 'row-' + counter);
                table.rows.add(clone).draw();
                $('#InterestCount').val(counter);

            });
            $('#tblInterest tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#Delrow').click(function () {
                const id = table.row('.selected').id();
                if (table.row('.selected').length > 0) {
                    const row = table.rows('.selected').remove().draw();
                    counter--;
                    $('#InterestCount').val(counter);
                }
                else {
                    alert("Please select row for delete !");
                }
            });


            var tabletest = $('#tbl_Ptest').DataTable({
                scrollCollapse: true,
                select: {
                    style: 'single'
                },
                searching: false, paging: false, info: false
            });
            var counter1 = $("#PersonalityCount").val();
            $('#Addrow1').on('click', function () {
                counter1++;
                var clone = $("#ptest tr:last").clone();
                clone.attr('id', 'row-' + counter1);
                tabletest.rows.add(clone).draw();
                $('#PersonalityCount').val(counter1);

            });
            $('#tbl_Ptest tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#Delrow1').click(function () {
                const id = table.row('.selected').id();
                if (table.row('.selected').length > 0) {
                    const row = table.rows('.selected').remove().draw();
                    counter1--;
                    $('#PersonalityCount').val(counter1);
                }
                else {
                    alert("Please select row for delete !");
                }
            });
        });
    </script>
}