@using AwesomeCare.Admin.ViewModels.Rotering;

@model RoteringViewModel
@{
    ViewData["Title"] = "Rotering";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task  table-responsive">
            <div class="header">
                <h2>Create Client Rota</h2>
                @*<ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>*@
            </div>
            <div class="body">

                <form id="roteringForm" asp-action="Index" asp-controller="Rotering" method="post">

                    @Html.HiddenFor(m => m.ClientId)
                    @Html.HiddenFor(m => m.ActionName)
                    @*<table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <ul class="nav nav-tabs-new2">
                                            @foreach (var weekDay in Model.WeekDays)
                                            {
                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#@weekDay.ToLower()">@weekDay</a></li>
                                            }
                                        </ul>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rotaType in Model.RotaTypes)
                                {
                                    <tr>
                                        <td>@rotaType.RotaType</td>
                                        <td>
                                            <div class="tab-content">
                                                @foreach (var weekDay in Model.WeekDays)
                                                {
                                                    <div class="tab-pane" id="@weekDay.ToLower()">
                                                        <h6>@weekDay</h6>
                                                    </div>
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@


                    <table class="table table-hover table-bordered" id="tblRotering">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var weekDay in Model.WeekDays)
                                {
                                    <th>
                                        @weekDay.DayofWeek
                                        <br />
                                        <label><input type="checkbox" class="selectAll" name="@weekDay.DayofWeek"><span><small>Repeat</small></span></label>
                                    </th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var rotaType in Model.RotaTypes)
                            {
                                <tr>
                                    <td>
                                        <div class="fancy-checkbox">
                                            @{

                                                <input type="hidden" asp-for="@rotaType.ClientRotaTypeId" />
                                                var clientRotaType = Model.ClientRotas.FirstOrDefault(c => c.ClientRotaTypeId == rotaType.ClientRotaTypeId);
                                                if (clientRotaType != null)
                                                {
                                                    //display and for edit
                                                    <label><input type="checkbox" name="@rotaType.RotaType" checked><span>@rotaType.RotaType</span></label>
                                                    @Html.Hidden($"{rotaType.RotaType}-ClientRotaId", @clientRotaType.ClientRotaId)
                                                }
                                                else
                                                {
                                                    //new
                                                    <label><input type="checkbox" name="@rotaType.RotaType"><span>@rotaType.RotaType</span></label>
                                                    @Html.Hidden($"{rotaType.RotaType}-ClientRotaId", 0)
                                                }
                                            }

                                        </div>

                                    </td>
                                    @foreach (var weekDay in Model.WeekDays)
                                    {
                                        <td>

                                            @Html.Hidden($"{rotaType.RotaType}-{weekDay.DayofWeek}-Day", weekDay.RotaDayofWeekId)
                                            @{
                                                var rotaDywk = Model.ClientRotas.FirstOrDefault(c => c.ClientRotaTypeId == rotaType.ClientRotaTypeId)?.ClientRotaDays?.FirstOrDefault(d => d.RotaDayofWeekId == weekDay.RotaDayofWeekId);
                                                if (rotaDywk != null)
                                                {

                                                    @Html.Hidden($"{rotaType.RotaType}-{weekDay.DayofWeek}-DayId", rotaDywk.ClientRotaDaysId)
                                                    var rotasList = new List<SelectListItem>();
                                                    foreach (var m in Model.Rotas)
                                                    {
                                                        var sl = new SelectListItem(m.Text, m.Value);
                                                        sl.Selected = sl.Value == rotaDywk.RotaId.ToString();
                                                        rotasList.Add(sl);
                                                    }

                                                    var rotaTaskList = new List<SelectListItem>();
                                                    var rotaDays = rotaDywk.RotaTasks.Where(rd => rd.ClientRotaDaysId == rotaDywk.ClientRotaDaysId).ToList();
                                                    foreach (var tk in Model.RotaTasks)
                                                    {
                                                        var sl = new SelectListItem(tk.Text, tk.Value);
                                                        sl.Selected = rotaDays.FirstOrDefault(c => c.RotaTaskId.ToString() == tk.Value) != null;
                                                        rotaTaskList.Add(sl);
                                                    }

                                                    <div class="form-group">
                                                        <label>Rota</label>
                                                        @Html.DropDownList($"{rotaType.RotaType}-{weekDay.DayofWeek}-rota", rotasList, "select rota", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Tasks</label>
                                                        <br />
                                                        @Html.DropDownList($"{rotaType.RotaType}-{weekDay.DayofWeek}-rotaTask", rotaTaskList, new { @multiple = "multiple", @class = "multiselect multiselect-custom taskMultiselect" })

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Start Time</label>
                                                        <input type="text" value="@rotaDywk.StartTime" name="@rotaType.RotaType-@weekDay.DayofWeek-StartTime" id="@rotaType.RotaType-@weekDay.DayofWeek-StartTime" data-provide="timepicker" data-show-meridian="false" data-minute-step="1" class="form-control" />

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Stop Time</label>
                                                        <input type="text" value="@rotaDywk.StopTime" name="@rotaType.RotaType-@weekDay.DayofWeek-StopTime" id="@rotaType.RotaType-@weekDay.DayofWeek-StopTime" data-provide="timepicker" data-show-meridian="false" data-minute-step="1" class="form-control" />

                                                    </div>
                                                }
                                                else
                                                {

                                                    @Html.Hidden($"{rotaType.RotaType}-{weekDay.DayofWeek}-DayId", 0)
                                                    <div class="form-group">
                                                        <label>Rota</label>
                                                        @Html.DropDownList($"{rotaType.RotaType}-{weekDay.DayofWeek}-rota", Model.Rotas, "select rota", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Tasks</label>
                                                        <br />
                                                        @Html.DropDownList($"{rotaType.RotaType}-{weekDay.DayofWeek}-rotaTask", Model.RotaTasks, new { @multiple = "multiple", @class = "multiselect multiselect-custom taskMultiselect" })

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Start Time</label>
                                                        <input type="text" name="@rotaType.RotaType-@weekDay.DayofWeek-StartTime" id="@rotaType.RotaType-@weekDay.DayofWeek-StartTime" data-provide="timepicker" data-show-meridian="false" data-minute-step="1" class="form-control" />

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Stop Time</label>
                                                        <input type="text" name="@rotaType.RotaType-@weekDay.DayofWeek-StopTime" id="@rotaType.RotaType-@weekDay.DayofWeek-StopTime" data-provide="timepicker" data-show-meridian="false" data-minute-step="1" class="form-control" />

                                                    </div>
                                                }

                                            }

                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary pull-right">@Model.ActionName</button>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            // validation needs name of the element
            $('.taskMultiselect').multiselect({
                enableFiltering: false,
                nonSelectedText: "Select Task",
                numberDisplayed: 0
            });

            $(':checkbox[class=selectAll]').change(function () {
                var dayOfWeek = $(this).attr('name')

                if ($(this).is(":checked")) {
                    RepeatRota(dayOfWeek);
                    RepeatStartTime(dayOfWeek);
                    RepeatStopTime(dayOfWeek);
                    SetCheckBox(true);

                } else {
                    // alert("unckecked");
                    SetCheckBox(false);
                }
            })


            function RepeatRota(dayofWeek) {
                var amrota = $('#AM-' + dayofWeek + '-rota').find(":selected").val();

                $('#tblRotering > tbody  > tr').each(function () {

                    var rotaPeriod = $(this).children('td:first').text().trim();

                    $('#' + rotaPeriod + '-' + dayofWeek + '-rota').val(amrota);
                });
            }

            function RepeatStartTime(dayofWeek) {
                var amStartTime = $('#AM-' + dayofWeek + '-StartTime').val();

                $('#tblRotering > tbody  > tr').each(function () {

                    var rotaPeriod = $(this).children('td:first').text().trim();

                    $('#' + rotaPeriod + '-' + dayofWeek + '-StartTime').val(amStartTime);
                });
            }

            function RepeatStopTime(dayofWeek) {
                var amStopTime = $('#AM-' + dayofWeek + '-StopTime').val();

                $('#tblRotering > tbody  > tr').each(function () {

                    var rotaPeriod = $(this).children('td:first').text().trim();

                    $('#' + rotaPeriod + '-' + dayofWeek + '-StopTime').val(amStopTime);
                });
            }

            function SetCheckBox(isChecked) {
                //
                $('#tblRotering > tbody  > tr').each(function () {

                    var rotaPeriod = $(this).children('td:first').text().trim();
                    if (isChecked) {
                        $('#' + rotaPeriod + '-ClientRotaId').val("1");
                        $(':checkbox[name=' + rotaPeriod + ']').prop("checked", true);
                    } else {
                        $('#' + rotaPeriod + '-ClientRotaId').val("0");
                        $(':checkbox[name=' + rotaPeriod + ']').prop("checked", false);
                    }

                });
            }
        });
    </script>
}