@using AwesomeCare.Admin.Components;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Razor;
@using Microsoft.Extensions.Configuration;
@using IdentityServer4.Extensions;
<!doctype html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Cuidado Web</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Cuidado Admin">
    <meta name="author" content="Cuidado Admin, design by: olamidejames.com">
    @*<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">*@
    @RenderSection("Meta", required: false)
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets2/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets2/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="/assets2/css/line-awesome.min.css">

    <!-- Chart CSS -->
    <link rel="stylesheet" href="/assets2/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets2/css/style.css">



    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!--DataTabales-->
    <link href="~/assets2/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">*@
    <!-- Material Design Bootstrap -->
    @*<link href="/assets/vendor/mdb/css/mdb.css" rel="stylesheet" />*@
    <link href="/assets/vendor/boostrap-multiselect2/css/bootstrap-select.css" rel="stylesheet" />
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="/assets/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/assets/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/assets/vendor/parsleyjs/css/parsley.css">
    <link href="/assets/vendor/Chosen/css/chosen.min.css" rel="stylesheet" />


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets2/css/style.css">
    <link rel="stylesheet" href="~/assets/dark/css/color_skins.css">
    @RenderSection("VenderStyleSheets", required: false)<!--To be removed because of typo-->
    @RenderSection("VendorStyleSheets", required: false)
    @RenderSection("HeaderScripts", required: false)
</head>
@*<body class="theme-cyan">*@
<body>
    @*<div id="wrapper">*@
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="/assets2/img/logo.png" width="40" height="40" alt="">
                </a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                <h3>AwesomeCare</h3>
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">

                <!-- Search -->
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="search.html">
                            <input class="form-control" type="text" placeholder="Search here">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </li>
                <!-- /Search -->
                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
                        <img src="/assets2/img/flags/us.png" alt="" height="20"> <span>English</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="/assets2/img/flags/us.png" alt="" height="16"> English
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="/assets2/img/flags/fr.png" alt="" height="16"> French
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="/assets2/img/flags/es.png" alt="" height="16"> Spanish
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="/assets2/img/flags/de.png" alt="" height="16"> German
                        </a>
                    </div>
                </li>
                <!-- /Flag -->
                <!-- Notifications -->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa fa-bell-o"></i> <span class="badge rounded-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                <!-- Message Notifications -->
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fa fa-comment-o"></i> <span class="badge rounded-pill">8</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Messages</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a asp-controller="Communication" asp-action="Index">View all Messages</a>
                        </div>
                    </div>
                </li>
                <!-- /Message Notifications -->

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="/assets2/img/profiles/avatar-21.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        <span> @User.GetDisplayName() </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a asp-controller="Account" asp-action="SignOut" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a asp-controller="Account" asp-action="SignOut" class="dropdown-item">Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <!-- Page Content -->
            <div class="content container-fluid">

                @await Component.InvokeAsync(nameof(Menu))
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">@ViewData["Title"]</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>

        <!-- /Page Header -->
        <!-- Javascript -->


        @RenderSection("VendorScripts", required: false)

        <!-- jQuery -->
        <script src="~/assets2/js/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap Core JS -->
        <script src="~/assets2/js/bootstrap.bundle.min.js"></script>

        <!-- Slimscroll JS -->
        <script src="~/assets2/js/jquery.slimscroll.min.js"></script>

        <!-- Custom JS -->
        <script src="~/assets2/js/app.js"></script>

        @RenderSection("Scripts", required: false)

        <!-- Javascript -->
        <script src="~/assets/dark/bundles/libscripts.bundle.js"></script>
        <script src="~/assets/dark/bundles/vendorscripts.bundle.js"></script>

        <script src="~/assets/dark/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
        <script src="~/assets/dark/bundles/flotscripts.bundle.js"></script> <!-- flot charts Plugin Js -->
        <script src="~/assets/vendor/toastr/toastr.js"></script>
        <script src="~/assets/vendor/flot-charts/jquery.flot.selection.js"></script>

        <script src="~/assets/dark/bundles/mainscripts.bundle.js"></script>

        <script src="~/assets/dark/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
        <script src="~/assets/dark/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->

        <script src="~/assets/vendor/jquery-sparkline/js/jquery.sparkline.min.js"></script>

        <script src="~/assets/dark/bundles/mainscripts.bundle.js"></script>
        <script src="~/assets/dark/js/pages/charts/peity_chart.js"></script>

        <script src="~/assets/dark/js/widgets/infobox/infobox-1.js"></script>

        <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
        <script src="~/assets/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
        <script src="~/assets/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
        <script src="~/assets/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
        <script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script src="~/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
        @*<script src="/assets/vendor/nouislider/nouislider.js"></script>*@ <!-- noUISlider Plugin Js -->
        <script src="~/assets/vendor/parsleyjs/js/parsley.min.js"></script>
        <script src="~/assets/vendor/boostrap-multiselect2/js/bootstrap-select.js"></script>
        <script src="~/assets/vendor/Chosen/js/chosen.jquery.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="~/assets2/js/dataTables.bootstrap4.min.js"></script>
        @*
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>*@


        @*@RenderSection("VendorScripts", required: false)*@

        <script src="/assets/bundles/mainscripts.bundle.js"></script>
        <script>
            $(document).ready(function () {

                // Multiselect
                //$('.multiselect').multiselect({
                //    maxHeight: 300
                //});
                $('.multiselectfilter').multiselect({
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    maxHeight: 200
                });

                var date = new Date();
                date.setDate(date.getDate());
                $('.datepickerfromtoday').datepicker({
                    startDate: date,
                    todayBtn: true
                })

                $('.datepickerbeforeOrtoday').datepicker({
                    endDate: date,
                    todayBtn: true
                })
                $(".chosen-select").chosen({ no_results_text: "Oops, nothing found!" });

                $(".datatable").DataTable({
                    destroy: true,
                    searching: true
                });

                $('.datatablesExportExcel').DataTable({
                    dom: 'Blfrtip',
                    buttons: [
                        'excel'
                    ],
                    aLengthMenu: [
                        [10, 20, 50, 100, -1],
                        [10, 20, 50, 100, "All"]
                    ]
                });
            })</script>

        @*RenderSection("Scripts", required: false)*@
</body>
</html>
